[2021-06-30 11:45] gao-sun opened #1 "Basic OIDC setup"
## Summary
Enable Basic OIDC features as the foundation.

## Deliverables

- [x] #2
- [x] #3
- [x] #4

[2021-06-30 11:48] gao-sun opened #2 "api: OIDC auth / token / introspection / revocation"

[2021-06-30 11:48] gao-sun opened #3 "feat: fetch client info from DB"

[2021-06-30 11:48] gao-sun opened #4 "feat: find user account from DB"

[2021-06-30 11:48] gao-sun opened #5 "feat: fulfill correct info according to scope / claims in `findAccount`"
短期内暂时不支持

[2021-06-30 12:06] gao-sun opened #6 "Basic sign in / register"
## Summary
Complete the basic flow of service APIs.

## Deliverables
- [x] #7
- [x] #8
- [x] #9
- [x] #10

[2021-06-30 12:07] gao-sun opened #7 "api: sign in API (username / password validation)"

[2021-06-30 12:07] gao-sun opened #8 "api: register API (username / password)"

[2021-06-30 12:07] gao-sun opened #9 "feat: connect OIDC interaction"

[2021-06-30 12:07] gao-sun opened #10 "feat: configurable consent"

[2021-06-30 12:17] gao-sun opened #11 "Basic app management"
## Summary
基础 app 管理 API，支持多 app。可以覆盖基础的 universal login 配置。

## Deliverables

- [x] #12
- [ ] #13
- [x] #14
- [x] #15
- [x] #16
- [x] #17

[2021-06-30 12:19] gao-sun opened #12 "api: list all apps (summary)"

[2021-06-30 12:20] gao-sun opened #13 "api: list app details"

[2021-06-30 12:20] gao-sun opened #14 "api: list app active users"

[2021-06-30 12:20] gao-sun opened #15 "api: create app"

[2021-06-30 12:20] gao-sun opened #16 "api: update app info"

[2021-06-30 12:20] gao-sun opened #17 "api: delete app"

[2021-06-30 12:39] gao-sun opened #18 "Basic universal login config"
## Summary
The all-in-one experience for users.

## Deliverables
- [ ] #19

[2021-06-30 12:40] gao-sun opened #19 "api: config universal login (logo / theme color / background color)"

[2021-06-30 12:43] gao-sun opened #20 "Basic user management"
## Summary
Foundation of console.

## Deliverables
- [ ] #21
- [ ] #22
- [ ] #23
- [ ] #24
- [ ] #25
- [ ] #26

[2021-06-30 12:44] gao-sun opened #21 "api: list all users"

[2021-06-30 12:44] gao-sun opened #22 "api: list user details"

[2021-06-30 12:44] gao-sun opened #23 "api: per-user audit logs"

[2021-06-30 12:44] gao-sun opened #24 "api: change password"

[2021-06-30 12:44] gao-sun opened #25 "api: block user"

[2021-06-30 12:44] gao-sun opened #26 "api: delete user"

[2021-06-30 13:18] gao-sun opened #27 "[待拆解] Socialized sign in / register"

[2021-06-30 13:19] gao-sun opened #28 "[待拆解] Passwordless sign in / register"

[2021-06-30 13:19] gao-sun opened #29 "[待拆解] Forgot password"

[2021-06-30 13:19] gao-sun opened #30 "[待拆解] 本机号码一键登录"

[2021-06-30 15:09] #2 closed

[2021-07-02 13:19] #4 closed

[2021-07-04 07:50] gao-sun opened #32 "api: abort interaction"

[2021-07-04 07:58] #7 closed

[2021-07-04 07:59] #9 closed

[2021-07-04 08:02] gao-sun commented on #10
感觉短期内应不会需要，先 close 了

[2021-07-04 08:02] #10 closed

[2021-07-04 09:43] #8 closed

[2021-07-04 09:46] #6 closed

[2021-07-04 09:51] gao-sun opened #34 "feat: send api error in json"

[2021-07-04 09:51] gao-sun opened #35 "refactor: integrate `zod` guards in koa context"

[2021-07-04 16:16] #3 closed

[2021-07-04 16:16] #1 closed

[2021-07-06 15:13] #35 closed

[2021-07-06 15:30] #34 closed

[2021-07-06 15:36] gao-sun opened #36 "chore: replace assert strings with error instances"

[2021-07-06 15:59] #32 closed

[2021-07-14 14:59] gao-sun opened #43 "Mobile UI: username / password flow"
- [x] logto-io/core#39
- [ ] logto-io/core#38

[2021-07-14 14:59] gao-sun opened #42 "Web UI: username / password flow"
- [ ] logto-io/core#41
- [ ] logto-io/core#40

[2021-07-14 15:04] gao-sun opened #41 "feat(ui): web username / password sign-in"

[2021-07-14 15:04] gao-sun opened #40 "feat(ui): web username / password register"

[2021-07-14 15:05] gao-sun opened #39 "feat(ui): mobile username / password sign-in"

[2021-07-14 15:05] gao-sun opened #38 "feat(ui): mobile username / password register"
[Figma Link](https://www.figma.com/file/u75COsP7XfvpaDX28dEGIN/Logto-v1?node-id=119%3A812)

[2021-07-18 12:59] gao-sun opened #37 "撰写 core v1 设计文档"

[2021-07-23 17:24] gao-sun commented on #37
https://www.notion.so/logto/Logto-Core-ac1dabbea78b4849a350e9a4b9cb99a9

[2021-07-23 17:24] #37 closed

[2021-07-27 17:11] gao-sun opened #45 "refactor(ui): read error from api response"

[2021-07-28 17:22] gao-sun opened #48 "chore: setup online dev environment"

[2021-07-30 06:00] gao-sun opened #53 "research: configure eslint to prefer `return next()` when no `await` is needed"

[2021-07-30 06:04] wangsijie commented on #53
Koa's middleware uses `ctx` instead of return value, is not "pure function", so return value may not be important.

[2021-07-30 06:07] gao-sun commented on #53
yes, just wanna align our code style.

[2021-07-30 06:07] gao-sun commented on #53
agreed with you that return value doesn't matter.

[2021-07-30 06:10] wangsijie commented on #53
disallow return has an adventage: prevent treating the return value as useful staff by mistake

[2021-07-30 06:24] gao-sun commented on #53
agreed, so i added the following type in `packages/core/src/include.d/koa.d.ts`:

[code]

this makes sure that middleware is a `void` promise which means nothing. plus, return can enable eslint check for unreachable code and save 1 LOC for every middleware that doesn't need operations after `next`.

also check out the [official example](https://github.com/koajs/koa#common-function) of using `retur

[2021-07-30 18:13] #39 closed

[2021-07-31 11:10] gao-sun commented on #48
done

[2021-07-31 11:10] #48 closed

[2021-08-01 14:02] simeng-li opened #58 "feat(ui): mobile default 404 page"

[2021-08-02 11:11] gao-sun opened #60 "feat(ui): change theme based on system preference"

[2021-08-02 11:53] simeng-li opened #61 "feat(ui): add app level data model"

[2021-08-02 15:44] gao-sun opened #63 "chore(ui): fixing react-i18next warning in jest"
[code]

[2021-08-03 05:03] xiaoyijun opened #65 "feat: throw an error on invalid scopes"

[2021-08-03 11:20] #38 closed

[2021-08-14 15:46] gao-sun commented on #58
moved to https://linear.app/silverhand/issue/LOG-7/read-and-show-error-from-api-response

[2021-08-14 15:46] #58 closed

[2021-08-14 15:47] gao-sun commented on #45
moved to [linear issue](https://linear.app/silverhand/issue/LOG-7/read-and-show-error-from-api-response)

[2021-08-14 15:47] #45 closed

[2021-08-14 15:55] gao-sun commented on #61
moved to [linear issue](https://linear.app/silverhand/issue/LOG-10/add-app-level-data-model)

[2021-08-14 15:55] #61 closed

[2021-08-18 05:00] gao-sun commented on #42
tracked in https://linear.app/silverhand/project/web-ui-basic-flow-68d0429e967d

[2021-08-18 05:00] #42 closed

[2021-08-18 05:00] #41 closed

[2021-08-18 05:00] #40 closed

[2021-08-18 05:01] #15 closed

[2021-08-18 05:01] #16 closed

[2021-08-18 05:01] #17 closed

[2021-08-18 05:04] #14 closed

[2021-08-18 05:04] gao-sun commented on #11
tracked in https://linear.app/silverhand/project/core-application-api-af57d7ccd5d5

[2021-08-18 05:04] #11 closed

[2021-08-18 05:05] #13 closed

[2021-08-18 05:05] #12 closed

[2021-08-18 05:10] gao-sun commented on #20
tracked in https://linear.app/silverhand/project/core-user-api-6f462b272419

[2021-08-18 05:10] #20 closed

[2021-08-18 05:11] #21 closed

[2021-08-18 05:11] #22 closed

[2021-08-18 05:11] #23 closed

[2021-08-18 05:11] #24 closed

[2021-08-18 05:11] #25 closed

[2021-08-18 05:11] #26 closed

[2021-08-18 05:13] gao-sun commented on #43
tracked in linear

[2021-08-18 05:13] #43 closed

[2021-08-18 05:14] gao-sun commented on #36
updated and tracked in linear

[2021-08-18 05:14] #36 closed

[2021-08-18 05:15] gao-sun commented on #53
tracked in https://linear.app/silverhand/issue/LOG-37/configure-eslint-to-prefer-return-next-when-no-await-is-needed

[2021-08-18 05:15] #53 closed

[2021-08-18 05:16] gao-sun commented on #60
#62

[2021-08-18 05:16] #60 closed

[2021-08-18 05:18] gao-sun commented on #65
tracked in https://linear.app/silverhand/issue/LOG-38/throw-error-on-invalid-scope-request

[2021-08-18 05:18] #65 closed

[2021-08-18 05:18] gao-sun commented on #63
tracked in linear

[2021-08-18 05:18] #63 closed

[2021-08-30 08:15] gao-sun commented on #5
tracked in LOG-66

[2021-08-30 08:15] #5 closed

[2021-08-30 08:18] gao-sun commented on #28
tracked in linear

[2021-08-30 08:18] #28 closed

[2021-08-30 08:20] #18 closed

[2021-08-30 08:20] #19 closed

[2021-08-30 08:20] #27 closed

[2021-08-30 08:29] #29 closed

[2021-08-30 08:29] #30 closed

[2022-04-13 07:12] xiaoyijun opened #545 "Test Assignees Issue"

[2022-04-13 07:12] #545 closed

[2022-04-22 07:52] renovate[bot] opened #615 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] fix(deps): update dependency ky to v0.30.0
 - [ ] fix(deps): update dependency monaco-editor to v0.33.0
 - [ ] chore(deps): update action

[2022-07-10 11:29] jacksonrakena opened #1504 "[Next.js] Error: Should provide a fetch function under Node.js"
Firstly, I'd like to say that Logto sounds like a great project. Excited for what could become of this.

When running a Next.js app with the `logto-io/react` connector, I get this issue before I can even load the page:
![image](https://user-images.githubusercontent.com/44521335/178142977-ea8791cc-bd89-4764-a6ae-f2e9e1740092.png)
My LogtoProvider setup is fairly standard:
[code]

[2022-07-10 11:30] gao-sun commented on #1504
@demonzoo @wangsijie would you like to take a look?

[2022-07-10 11:31] jacksonrakena commented on #1504
Moved this to https://github.com/logto-io/js/issues/327 because it's probably more suited on that repo

[2022-07-10 11:31] #1504 closed

[2022-07-16 11:07] github-actions[bot] opened #1564 "ZAP Scan Baseline Report"
- Site: [http://localhost:3001](http://localhost:3001)
 	 **New Alerts**
	- **Content Security Policy (CSP) Header Not Set** [10038] total: 4:
		- [http://localhost:3001](http://localhost:3001)
		- [http://localhost:3001/console/welcome](http://localhost:3001/console/welcome)
		- [http://localhost:3001/robots.txt](http://localhost:3001/robots.txt)
		- [http://localhost:3001/sitemap.xml](http://loc

[2022-07-16 11:11] demonzoo commented on #1564
Nice work. Would definitely be working on some of these next week. 👍

[2022-07-16 11:36] github-actions[bot] opened #1566 "ZAP Scan Baseline Report"
- Site: [http://localhost:3001](http://localhost:3001)
 	 **New Alerts**
	- **Content Security Policy (CSP) Header Not Set** [10038] total: 4:
		- [http://localhost:3001](http://localhost:3001)
		- [http://localhost:3001/console/welcome](http://localhost:3001/console/welcome)
		- [http://localhost:3001/robots.txt](http://localhost:3001/robots.txt)
		- [http://localhost:3001/sitemap.xml](http://loc

[2022-07-16 11:37] gao-sun commented on #1564
will use another issue for master commits

[2022-07-16 11:37] #1564 closed

[2022-07-16 15:52] sunjianan9900 opened #1568 "Cannot serve static files using Nginx in front of Logto"
Launched via:
[code]

Can access via IP, but it shows no HTTPS:

![image](https://user-images.githubusercontent.com/10936316/179362089-5ec59fa7-e65f-4d01-ab4c-b7adcf8098ed.png)

Then I set domain and HTTPS via Nginx, which enables service access, but no static files.
And the project mount path remains unknown.

[code]

Nginx config

[code]

Request
[code]

Cannot access static files, do you have N

[2022-07-16 16:12] gao-sun commented on #1568
hi @sunjianan9900,

Thank you for your feed back and detailed context.

Usually for URLs with HTTP protocol, the browser only provides a HTTPS context in `http://localhost`. Any other URLs start with `http://` will be not valid, including IP adresses.

If you put a Nginx in front of Logto, please make sure you set env `` to `true`. See [Using a HTTPS proxy](https://docs.logto.io/zh-cn/docs/referen

[2022-07-17 03:47] milukun commented on #1568
According to the instructions inside the documentation, I need to set TRUST_PROXY_HEADER to True
https://docs.logto.io/docs/references/core/configuration/

[code]

But I found that the setting TRUST_PROXY_HEADER=1 is already included in the deployment yml file:

[code]

So it should be set up?
I don't understand how Node works, and I don't really understand
"The .env file in the project root, whic

[2022-07-17 04:19] sunjianan9900 commented on #1568
change location / {} to location ~ {}

Very nice project！

[2022-07-17 04:19] #1568 closed

[2022-07-17 07:05] pppmp097 commented on #1566
qp

[2022-07-17 07:06] pppmp097 opened #1571 "🪙🤩"

[2022-07-17 07:21] #1571 closed

[2022-07-17 14:24] 1itt1eB0y opened #1575 "bug:"
Docker Prerelease
When using http, it says `Crypto.subtle is unavailable in insecure contexts (non-HTTPS).`
When using https, it says `{"message":"无效返回链接, 该 redirect_uri 未被此应用注册。","code":"oidc.invalid_redirect_uri","data":{"error_description":"redirect_uri did not match any of the client's registered redirect_uris"}}`
The dashboard can't be reached.

And there isn't a command which called `docker

[2022-07-17 14:32] gao-sun commented on #1575
You need to use `localhost` to load admin console under HTTP, or specify env `ENDPOINT` when using a custom domain.

We'll update docs, but I'll close this issue since it doesn't follow our template and provides a vague context which is not useful. You can re-open it once the content is organized.

@demonzoo @simeng-li would you like to add a linear issue for updating the docs? thanks.

[2022-07-17 14:32] #1575 closed

[2022-07-17 14:50] demonzoo commented on #1575
[Linear issue](https://linear.app/silverhand/issue/LOG-3735/update-docs-to-mention-https-and-endpoint-in-self-hosted-scenario) created to update the documentation.

[2022-07-17 18:30] andersmmg opened #1577 "feature request: Support pressing enter to submit"
### What problem did you meet?
When creating an account or logging in, the button seems to need to be manually clicked to submit the form, rather than being able to press the enter key to submit.

### Describe what you'd like Logto to have
Support for pressing enter to submit login and create account forms.

[2022-07-18 00:57] simeng-li commented on #1577
Thanks for the reporting.That is definitely something we expect to have.  Working on it

[2022-07-18 00:59] demonzoo commented on #1577
Yes, we have just talked about it internally couple days ago. More keyboard shortcuts support are on the way.
Thank you for your support. Stay tuned.

[2022-07-18 02:55] zhouzhiqiangzzq opened #1579 "feature request: account login success notify api"
### What problem did you meet?

### Describe what you'd like Logto to have
when a user login success or create a new account  success, other business service can get the notify and  can get user  info，can you provide  an  api  config  like this ?   or already have ?

[2022-07-18 03:00] gao-sun commented on #1579
we don't have this right now, but it's already on our [roadmap](https://github.com/orgs/logto-io/projects/5). Before it's available, you can head to [this doc](https://docs.logto.io/docs/recipes/manage-users/you-dont-need-a-user-table) to see if it helps.

[2022-07-18 03:16] zhouzhiqiangzzq commented on #1579
----
thank you bro ,  it is really help me.

[2022-07-18 03:20] bulolo opened #1580 "bug: Error while initializing app error: relation "connectors" does not exist"
[code]

[code]

[2022-07-18 03:58] panoti opened #1582 "feature request:"
### What problem did you meet?
I have a existed user table from my system. I hope Logto can connect to that database to fetch user info.

### Describe what you'd like Logto to have
I think we should have a config (like Auth0 custom database) to allow user can use their code to connect to custom database. It maybe use javascript code and use `vm` to execute. I reviewed your roadmap, and did not fin

[2022-07-18 04:05] gao-sun commented on #1580
closed until the content meets our template

[2022-07-18 04:05] #1580 closed

[2022-07-18 04:11] gao-sun commented on #1582
Thanks for the advice @panoti!

We've considered to implement a general database protocol, but found Postgres is good for an opinionated solution.

A important part is the JSONB features. Since we don't do much investigation, so we don't know if other databases are fully supported. May I know what kind of database you are using?

BTW, we have [another approach](https://docs.logto.io/docs/recipes/m

[2022-07-18 04:20] panoti commented on #1582
Thank you for your quickly response. I also use Postgres to store user data as well. My username are combination of email, user id, user code, so migration your user table so hard. In my opinion, using a custom code and execute it throw `vm` maybe better.  Example: I can define

[code]

then `myuser` data callback your code for following authentication steps.

[2022-07-18 05:00] gao-sun commented on #1582
Thanks, we'll investigate this - @simeng-li @wangsijie would you like to follow the case?

[2022-07-18 05:08] gao-sun opened #1584 "bug: test for labels"
### Describe the bug

### Expected behavior

### How to reproduce?

### Context

OS:

Environment:

Logto version:

Node version:

Postgres version:

Command of starting Logto:

### Screenshots

[2022-07-18 05:08] #1584 closed

[2022-07-18 05:48] simeng-li commented on #1582
Sounds promising. Invest issue created. @panoti We will keep you posted.  Feel free to join our [discord community](https://discord.com/invite/UEPaF3j5e6) for any helpful insights.

[2022-07-18 05:51] simeng-li commented on #1580
@bulolo please follow our issue template with some necessary context. So we can better help.

[2022-07-18 08:41] youmengme opened #1586 "feat: Is there a connector for wechat applet"
I need a connector for wechat applet, can you help me

[2022-07-18 09:25] adoresli opened #1588 "feature request: Can add the LDAP connector integrate in it ?"
### What problem did you meet?

I have fully experienced almost all the features, they're so excellent! But if I want to use it in my production environment, I need to solve the user sync problem manually.

### Describe what you'd like Logto to have

Could your team add the LDAP Database authentication as one of the authentication methods in this app, it's a very useful feature. Thanks for your at

[2022-07-18 10:06] gao-sun commented on #1588
thank you! that's what we are planning now :-)
we have a [public roadmap](https://github.com/orgs/logto-io/projects/5) that you can track. it is definitely in our scope. stay connected.

[2022-07-18 10:10] gao-sun commented on #1586
plz follow our template to describe your request, you can re-open once updated. thanks.

[2022-07-18 10:10] #1586 closed

[2022-07-18 11:06] fleuraly commented on #1588
@adoresli hello this is Guamian from Logto Product team! Thanks for the feature request! I'm curious to learn more about your team or company's needs and situation. Would you mind spending around 10 minutes to e-chat through that?  Also, feel free to join our [discord channel](https://discord.gg/UEPaF3j5e6). :P

[2022-07-19 00:53] meimosor opened #1595 "feature request: Feature Suggestions"
1、2FA Authentication Support
2、User Federation Support
3、Session management Support
4、Java SDK Support

[2022-07-19 02:28] simeng-li commented on #1577
The fix is in the latest release now @andersmmg please check. Cheers.

[2022-07-19 02:28] #1577 closed

[2022-07-19 02:37] andersmmg commented on #1577
Seems to work now!

[2022-07-19 04:20] darcyYe commented on #1595
You can follow the issue template we provided.
I'll manually close this one.
You may reopen it after reorg the contents to make it fit our templates.

[2022-07-19 04:20] #1595 closed

[2022-07-19 04:21] Olyno opened #1599 "feature request: i18n internationalization"
### What problem did you meet?

When we arrive at the registration or login page, the text is in English, even though our platform is aimed at another language that does not speak English.

This problem also occurs with emails sent to users.

### Describe what you'd like Logto to have

Having an in-house system would allow us to create customized translations for our users. Logto could provide def

[2022-07-19 13:54] jackm9367 opened #1607 "feature request: One liner installation in Windows"
### What problem did you meet?

The one-liner script outlined in README.md does not function on Windows due to the script utilising curl, printf, and other Linux/Bash commands. When run, the script immediately errors and halts.

### Describe what you'd like Logto to have

A separate install script for Windows, including a separate Windows-oriented one liner that downloads and runs a wnidows-instal

[2022-07-19 13:54] jackm9367 commented on #1607
Assign issue to self (@jackm9367)

[2022-07-19 14:00] gao-sun commented on #1599
yes, this is on our Q3 roadmap

[2022-07-19 21:28] Olyno opened #1612 "feature request: Hide incrementation/decrementation of number inputs"
### What problem did you meet?

It's not very nice to leave the increment and decrement buttons on the passcode. This is happening only on Firefox.

![image](https://user-images.githubusercontent.com/25107942/179851438-5a6d83ac-9ed4-4494-8338-8945b3e27166.png)

### Describe what you'd like Logto to have

You can hide them with the `` -moz-appearance`` field on Firefox. More about it here: https://

[2022-07-20 02:27] Samu3 opened #1614 "how to use http from remote server"
Error: Crypto.subtle is unavailable in insecure contexts (non-HTTPS).
    at F (http://*.*.*.*:3001/console/index.7a0bff82.js:16:25563)
    at v.signIn (http://*.*.*.*:3001/console/index.7a0bff82.js:16:17560)
    at async http://*.*.*.*:3001/console/index.7a0bff82.js:16:13794

[2022-07-20 02:39] simeng-li commented on #1612
Thanks for the report, the fix is on the way ☝️

[2022-07-20 03:15] simeng-li commented on #1614
@Samu3  check this out: [troubleshooting](https://docs.logto.io/docs/tutorials/get-started/#quick-troubleshooting). (P.S. It would be grateful if you could follow our issue template, we may better assist you with more context.

[2022-07-20 03:27] Samu3 commented on #1614
Thanks! I think this feature can be setup

[2022-07-20 03:27] #1614 closed

[2022-07-20 05:33] KaveenAmarasekara opened #1620 "feature request:"
CAN YOU JOIN OUR NETWORK........

*How to Solve*

Launching new Q & A site, Proudly present by ARM SOLUTIONS,
Including many features and stand to solve your problems with the best experts in world wide.

http://howtosolve.is-great.org

*Best features :*

• Ask any question for free.
• Free site membership.
• Create you own group/team.
• Earn/buy points by Answering.
• Vote others/ get votes.
• Gr

[2022-07-20 05:34] gao-sun commented on #1607
thank you @jackm9367 - I didn't test developing in Windows, and it looks like the issue is straightforward. we can give it a try to see the effort. this issue can keep, no worries.

[2022-07-20 05:38] demonzoo commented on #1607
Would you like to try it in git bash env? I did it couple months ago and I remember most of the errors were gone, except for the husky after-install script.

[2022-07-20 05:50] #1612 closed

[2022-07-20 06:25] gao-sun commented on #1620
thanks for the issue. the product looks great. since we are just started, we would like to stick with GitHub Discussions and do a more comprehensive research before deciding to migrate our Q&A platform. we can stay connected with you!

[2022-07-20 06:25] #1620 closed

[2022-07-21 00:51] taqtiqa-mark commented on #1588
One use case would be [Light LDAP](https://github.com/nitnelave/lldap) support.  The LLDAP may also help with integration testing?

[2022-07-21 04:13] jackm9367 commented on #1607
Will give it a go now
I'd be guessing though that if Logto only 'supports' windows through `git bash`, then it doesn't really count as windows support?

[2022-07-21 04:59] github-actions[bot] opened #1634 "ZAP Full Scan Report"
- Site: [//localhost](//localhost)

- Site: [http://localhost:3001](http://localhost:3001)
 	 **New Alerts**
	- **Cloud Metadata Potentially Exposed** [90034] total: 1:
		- [http://localhost:3001/latest/meta-data/](http://localhost:3001/latest/meta-data/)
	- **Content Security Policy (CSP) Header Not Set** [10038] total: 4:
		- [http://localhost:3001/console](http://localhost:3001/console)
		- [ht

[2022-07-21 05:02] gao-sun commented on #1566
use full scan instead

[2022-07-21 05:02] #1566 closed

[2022-07-21 06:27] github-actions[bot] opened #1636 "ZAP Scan Baseline Report"
- Site: [http://localhost:3001](http://localhost:3001)
 	 **New Alerts**
	- **Content Security Policy (CSP) Header Not Set** [10038] total: 4:
		- [http://localhost:3001](http://localhost:3001)
		- [http://localhost:3001/console/welcome](http://localhost:3001/console/welcome)
		- [http://localhost:3001/robots.txt](http://localhost:3001/robots.txt)
		- [http://localhost:3001/sitemap.xml](http://loc

[2022-07-21 06:30] livepo opened #1637 "bug: how to interminate with umijs"
error  in ./node_modules/@logto/client/lib/module.js

Module parse failed: Unexpected token (85:18)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
|
| class $19775a679e2952df$export$2e2bcd8739ae039 {

|     getJwtVerifyGetKey = (0, $kqBTI$lodashonce)(this._getJwtVerifyGetKey);
|

[2022-07-21 06:31] gao-sun commented on #1637
closed until the content meets our template

[2022-07-21 06:31] #1637 closed

[2022-07-21 06:40] gao-sun commented on #1636
in full scan

[2022-07-21 06:40] #1636 closed

[2022-07-21 06:41] demonzoo commented on #1607
Thank you, Jack. I'll also take a look at it this weekend.

[2022-07-21 06:47] demonzoo commented on #1607
I agree! But I also think that `git bash` might just be working as a baseline for windows users for the time being, until we work out a full compatible windows script.

[2022-07-21 06:56] gao-sun commented on #1595
Suggestions are great. Most are on our roadmap already. As @darcyYe said, if you want to keep the issue open, please follow our template.

[2022-07-21 10:45] naliazheli opened #1649 "feature request: flutter sdk"
### What problem did you meet?

I want to use flutter to build my app,but found no sdk.
### Describe what you'd like Logto to have

support flutter...

[2022-07-21 10:47] gao-sun commented on #1649
We do have a plan on Flutter SDK. Please follow the template if you want to keep the issue open.

[2022-07-21 10:58] gao-sun commented on #1649
We do have a plan. You can check out our public roadmap.

[2022-07-21 11:01] demonzoo commented on #1599
I think the OP mentioned email config as he thought a similar solution would be fit for the i18n as well. Imagine there would a page in admin console, where the admin can add/edit their own i18n phrases using our code editor...

[2022-07-22 18:02] 0zul opened #1661 "feature request: Adding more db types like MongoDB, etc."
### What problem did you meet?
I've had an issue setting up Postgres DB URI to my remote server hence it's really impossible for me to use Postgres.

### Describe what you'd like Logto to have
Ability to use other DB like MongoDB, MySQL, etc.

[2022-07-23 03:26] gao-sun commented on #1661
Currently we'd like to leverage Postgres as an opinionated database choice since there are more features on the way. We'll consider this once we launch a stable version.

If you are interested about contribution on this feature feel free to discuss with us.

[2022-07-23 07:53] CNLHC commented on #1580
I just encountered the same issue.
A temporary solution is to seed your database in an interactive console before using `ALL_YES=1`

[2022-07-23 08:23] CNLHC opened #1663 "bug: sending http from console deployed into a https environment"
### Describe the bug

A `HTTP` request is sent to `http://<ENDPOINT>/oidc/token` while the console was behind a `https` endpoint, which will be prohibited by the browser.

![image](https://user-images.githubusercontent.com/21005146/180596883-c07ab4fa-3eed-4e4b-bc02-dc3a52999faa.png)

Before calling to `/oidc/token`, a call to `/oidc/.well-known/openid-configuration` returns URL start with `http`.

[2022-07-23 09:01] CNLHC commented on #1663
I just find the issue.
One should set `X-Forwarded-Proto` to tell the backend you are using `HTTPS`.

This error is a little bit weird and counterintuitive if the user already set the Endpoint to an `HTTPS://` thing.

It will be nice if we warn the user in the document to take care of `X-Forwarded-Proto`

[2022-07-23 09:19] CNLHC commented on #1663
[This doc](https://github.com/panva/node-oidc-provider/blob/main/docs/README.md#trusting-tls-offloading-proxies) already warns the user to set this header.

I will close this thread.

[2022-07-23 09:19] #1663 closed

[2022-07-23 09:21] gao-sun commented on #1663
Thank you for the detailed issue description, and glad it works!

[2022-07-23 14:15] SilverHi opened #1664 "question: cannot start Logto since relation "connectors" doesn't exist"
### Describe the bug

I following the TUTORIALS ,use docker run logto.
 I used``` docker run -it -p 3001:3001 --env-file=init.env  [ImagersId] ```
console show me

[code]

I try again without docker
I used local ，when I enterd Postgres_url, the same error occurred
### Expected behavior

### How to reproduce?

run logto with docker  or local
### Context

OS: Centos7

Environment:
Docker and local
L

[2022-07-23 14:22] SilverHi commented on #1664
I used new PostgreSQL and user is postgres

[2022-07-23 14:34] gao-sun commented on #1664
note: make sure your postgres instance has no database named `logto`.

looks like your database is not initialized. would you like to use the download script WITHOUT setting `DB_URL`?

when it shows:

[code]

answer `yes`, and for:

[code]

enter the DSN. then you'll be good to go.

[2022-07-23 14:35] gao-sun commented on #1664
a good issue though. will refine the database init process in docker.

[2022-07-23 14:56] SilverHi commented on #1664
Thanks!, I have started logto.
I created the database in advance，and named logto

[2022-07-23 16:07] demonzoo commented on #1664
OK, seems the issue has been resolved. I'm closing the ticket now.
Feel free to comment and reopen the ticket if necessary. Thanks

[2022-07-26 07:47] gao-sun commented on #1664
@SilverHi did you successfully start Logto?

[2022-07-27 02:41] Grumpypjs08 opened #1686 "question: Flutter"
Is their a flutter plugin for logto? What is the best way to do this?

Thanks!

[2022-07-27 02:46] gao-sun commented on #1686
#1649

[2022-07-27 02:46] #1686 closed

[2022-07-28 01:23] taosimple opened #1693 "feature request: deploy in serverless"
This lib can used in serverless, like: amazon lamada, tencent cloud SCF? Not find related doc.

[2022-07-28 14:00] paper-florent opened #1699 "bug: argon2@0.28.5 install fail for mac m1 run dev"
### Describe the bug

Having
![Screen Shot 2022-07-28 at 9 59 14 AM](https://user-images.githubusercontent.com/104535887/181523922-ab88dc73-0d17-41b6-b19a-957e406ccf7c.png)

### Expected behavior

should be able to `pnpm dev` without issue

### How to reproduce?

Have a m1

`pnpm install` and `pnpm dev`

### Context

OS: macbook pro m1

Environment:

Logto version: latest

Node version: 16

Postgr

[2022-07-28 14:17] demonzoo commented on #1699
Hi @paper-florent , this is indeed a weird issue. Our team is also using M1 machines and we haven't experienced anything like this before.
Just want to check with you on several things real quick:
* Are you using the `install.js` script or did you clone the source code from GitHub?
* Can you try to remove your `node_modules` folders and retry `pnpm i && pnpm dev` again?

Thanks!

[2022-07-28 14:20] paper-florent commented on #1699
Hey @demonzoo thanks for the fast answer ! From the root folder I did:
- cloned the repo
- nvm use 16
- pnpm i
- pnpm dev

Let me try your suggestion

[2022-07-28 14:22] paper-florent commented on #1699
Looks like it worked... Thanks !

[2022-07-28 14:22] #1699 closed

[2022-07-28 14:25] demonzoo commented on #1699
Well, glad it works. But this indeed IS a weird issue. Feel free to let us know if you have any further questions or issues while using our code.
Happy hacking!

[2022-07-30 14:44] gao-sun commented on #1693
we didn't try that yet and will possibly not put effort on it in the near future, but it's a good topic.

you can open a [discussion](https://github.com/logto-io/logto/discussions) to see if other developers want this too.

[2022-07-30 14:44] #1693 closed

[2022-07-30 14:45] gao-sun commented on #1664
@SilverHi feel free to connect with us again if it does't work, cheers

[2022-07-30 14:45] #1664 closed

[2022-07-31 07:17] SilverHi commented on #1664
@gao-sun Thanks, I've started it, but I encountered some problems when integrating with Vue, but this seems to be my problem. If logto has a problem, I'll contact you. Thanks again~

[2022-08-01 10:27] hengheng0haha opened #1716 "feature request: allow to disable registration"
### What problem did you meet?

My app doesn't require registration, is there a configuration to disable registration?
### Describe what you'd like Logto to have

Disable registration via environment variables such as `REGISTRATION_DISABLE=1`.
Once disabled, it is hoped that users can still be added in the admin console.

[2022-08-01 10:34] gao-sun commented on #1716
thanks, it's valid. we'll figure out this.

[2022-08-01 10:35] gao-sun commented on #1716
i'm adding Q3 label for now since this looks not too much work. the timeline may change though

[2022-08-03 06:27] pemassi opened #1726 "feature request: support high availability"
### What problem did you meet?
In order to use Logto in production level, supporting HA is necessary.

### Describe what you'd like Logto to have
- Support HA
- Support Kubernetes
    - Health Check End-Point
- Support Helm

[2022-08-05 06:54] exotfboy opened #1739 "feature request: Disable PKCE"
Is it possible to disable PKCE during the authentication?

[2022-08-05 07:40] waltcow opened #1740 "feature request: release docker image to DockerHub"
### What problem did you meet?

[code]

### Describe what you'd like Logto to have

use  Github Actions release image to DockerHub

[2022-08-05 07:42] gao-sun commented on #1740
- we don't have `latest` tag for now since we are still in beta stage. you can use `prerelease` tag instead - let me know if you meet any issue on that tag.
- ghcr will be fine for now, but yes, we'll upload to docker image as well

[2022-08-05 07:44] gao-sun commented on #1739
not possible for know. please follow our template to describe you scenario. feel free to contact us for reopening the issue if the issue body has been updated.

[2022-08-05 07:44] #1739 closed

[2022-08-05 09:12] waltcow commented on #1740
Okay

[2022-08-05 09:45] gao-sun commented on #1740
no need for closing - definitely a valid request for docker registry :-)

[2022-08-06 19:21] mikarty opened #1745 "feature request: Allow importing/exporting data through json file"
### What problem did you meet?
Allow importing/exporting data through json file

### Describe what you'd like Logto to have

- Being able to export existing data from logto into json file

- Being able to import data into logto from json file

This could be beneficial when for example spinning up logto instance locally through docker and being able to provide versioned pre-configured data

Example

[2022-08-07 15:52] gao-sun commented on #1745
thanks @mikarty!
@wangsijie would you like to take a look?

[2022-08-08 06:08] wangsijie commented on #1745
Currently, Logto stores all data in a single source: database, the default engine is postgres. So import/export can be achived by db's import/export which is supported by most of the db clients and cloud services.

But still, I'll take a deep research on this with the team, and post updates in this thread once completed.

Thanks for the idea @mikarty

[2022-08-08 06:20] pemassi commented on #1726
@gao-sun I would like to help with this issue.

Seems like Logto contains all information into database, except RSA keys. Is there any reason that RSA keys are not saved into database?

[2022-08-08 06:32] waltcow opened #1747 "bug: ENDPOINT cannot be configurable"
### Describe the bug

LOGTO_URL cannot be configurable

### Expected behavior

LOGTO_URL can be set via environment variable

### How to reproduce?

here is my docker-compose file as follow
[code]

when I open Admin Console via `https://logto.example.com` ,  click create account button, it just redirect to
`https://127.0.0.1:3001/oidc/auth?client_id=admin-console&redirect_uri=https%3A%2F%2Flogto.e

[2022-08-08 06:49] charIeszhao commented on #1747
What is your docker compose command? And do you use logto behind a reverse proxy, say nginx?

[2022-08-08 06:58] gao-sun commented on #1747
how did you come with the conclusion that `LOGTO_URL` is hard-coded? also the context is not clear. will re-open the missing info has been fulfilled.

[2022-08-08 06:58] #1747 closed

[2022-08-08 06:59] waltcow commented on #1747
@charIeszhao @gao-sun

It is my mistake.  i use logto behind nginx proxy,

I miss `proxy_set_header Host $host ` in forward rule

[code]

after add it, problem solved,

btw, maybe the getting start of the docs can provide more details for nginx configuration

[2022-08-08 07:00] charIeszhao commented on #1747
Cool! Thanks for using Logto. Let us know if you come across other issues

[2022-08-08 07:03] gao-sun commented on #1747
@waltcow glad it works. actually we have a [quick troubleshooting](https://docs.logto.io/docs/tutorials/get-started/#quick-troubleshooting) section - but deosn't have your case.
feel free to submit a PR for adding the case. thanks!

[2022-08-08 07:05] waltcow commented on #1747
The miss of `proxy_set_header Host $host` lead to ENDPOINT set to `https://127.0.0.1:3001 ` as default , make it looks like `ENDPOINT ` is hard-coded 😭

[2022-08-08 07:08] charIeszhao commented on #1747
We thought about this before. However, we can't assume that users are using Logto with nginx, and to be honest, it's a little bit out of our scope. If user wants to use nginx, we assume they should know at least the basics of it. And adding the proxy headers are one of these things.

[2022-08-08 07:32] waltcow opened #1751 "feature request: CAPTCHA support"
CAPTCHA technology authenticates that a real person is accessing the web content to block spammers and bots that try to automatically harvest email addresses or try to automatically sign up for access to websites, blogs or forums. CAPTCHA blocks automated systems, which can't read the distorted letters in the graphic.

### What problem did you meet?

CAPTCHA protection should be added when user pe

[2022-08-08 07:35] gao-sun commented on #1751
good call! we'll explore this.

[2022-08-08 08:24] gao-sun commented on #1726
@pemassi it would be great if you can help! thanks.

the initial thought could be avoiding store any plain text secret in database. we know connector configs should be considered as secret, thus we'll likely use the same key to encrypt/decrypt connector configs in the future.

@simeng-li @wangsijie do we have any other particular reasons for not storing the key in database?

[2022-08-08 08:42] wangsijie commented on #1726
It's OK to store the keys in database.

[2022-08-10 05:10] pemassi commented on #1726
@gao-sun @wangsijie

I believe saving keys into database is safe, since the other projects, such as `Keycloak`, are saving into database.

I think saving keys into database will make easier to import, backup configuration (https://github.com/logto-io/logto/issues/1745), and also support hight availability.

What do you guys think about this?

[2022-08-10 05:13] pemassi opened #1758 "feature request: Kakao Connector"
### Describe what you'd like Logto to have

Support `Kakao` social login.

https://developers.kakao.com/docs/latest/en/kakaologin/common#login-with-oidc

[2022-08-10 05:18] charIeszhao commented on #1758
Hmmm, we understand that KakaoTalk is very very popular in Korea, so this sounds a legit feature request. We'll take this into serious consideration and let you know once we work out a plan.

Thanks!

[2022-08-10 05:44] pemassi commented on #1758
@charIeszhao No worries! I am going to work on this feature!

[2022-08-10 05:58] charIeszhao commented on #1758
Wow that's super cool! Thanks!
But we are currently refactoring our connector infrastructure, I recommend hold on for a couple days until we solidify our implementations. You can start research and register your testing account in kakao, though.

More details can be found in #1748. You can start your implementation once this PR merges.

[2022-08-10 07:07] pemassi commented on #1758
@charIeszhao Got it!

[2022-08-11 10:17] polakmark opened #1763 "bug: Error after login to the admin console"
### Describe the bug
After the initial setup following the instructions from the docs, I am not able to login. I got an invalid id token error. The account creation worked.

### Expected behavior
Login without error.

### How to reproduce?
[code]

### Context

OS: mac OS
docker: podman version 4.1.1

### Screenshots
<img width="784" alt="Screenshot 2022-08-11 at 12 11 43" src="https://user-images.

[2022-08-11 11:37] gao-sun commented on #1763
@charIeszhao would you like to take a look? thanks

[2022-08-11 11:54] charIeszhao commented on #1763
Hi @polakmark, thanks for reporting. I will help investigate the issue.

Would you please let me know more of the details? I have some questions like:
* It seems you have successfully registered your admin account. Did this error happen when you tried to login with your newly created admin credentials?
* Is it possible to send me your idToken, which can be found in your localStorage?

Also, it wou

[2022-08-11 12:18] polakmark commented on #1763
@charIeszhao
Yes I did register succesfully. yes the same thing happened when I tried to login, I even tried to login from a different browser and I got the same result.

It is interesting but I don't have an id token in my localstorage, but I got one from the token response. I included the whole response, and the content of my localstorage.

[code]
this is all I have in my localstorage after the

[2022-08-11 12:58] #1740 closed

[2022-08-11 13:39] charIeszhao commented on #1763
Hmmm, the idToken doesn't show up in your localStorage because its verification failed in prior, which is totally expected. Should have thought about this earlier, haha.

However, this is still a weird issue, as I just tried to decode your idToken and it seemed it was valid... I can see your user ID and username

Btw, are you testing it on your local machine? Are you using macOS or linux?

[2022-08-11 14:02] polakmark commented on #1763
@charIeszhao
I am on mac os, I run logto in docker, with podman, my time settings are correct on my machine, I am in the CET timezone. Can a docker container have a time drift or different timezone settings? Anyway I attached to the container, and the container is Running on UTC but somehow instead of whole hour differences, the container is in the future 2h and 13 minutes. The 2 hour difference i

[2022-08-11 14:08] polakmark commented on #1763
I also checked now a different source of UTC time, and it looks like the container has drifted time to the future by 4 hours and 13min.

(measurements were made approximately in the same time, manually)
Wed Aug 10 18:18:50 UTC 2022 (container)
Thu 11 Aug 2022 16:05:42 CEST (Local time)
14:04 Thursday, August 11, 2022 (UTC from web multiple sources)

[2022-08-11 14:09] charIeszhao commented on #1763
The different timezone is fine. However the 1 min (or 13 mins??) difference is weird, and IMO it's probable to cause the issue. Can you try to sync your time on your server? Thanks!

[2022-08-11 14:12] charIeszhao commented on #1763
No, it's not drifted to the future by 4 hours, but instead drifted to the past by 20 hours... It should be approximately Aug 11 14:12 now in UTC timezone, but your container is still on yesterday (Wed Aug 10)

[2022-08-11 14:16] polakmark commented on #1763
Oh didnt checked the date, good eyes. The thing is the container is running on my local machine, and docker should work with my hw time, I will check if there is any possibility to somehow sync it. I did multiple restarts of the container but I got the same result. I will try some things, I will let you know if I find any solution. Thanks, at least I know what the issue is.

[2022-08-11 14:32] polakmark commented on #1763
@charIeszhao Thanks for all the help, I am in. The podman virtual machine was somehow out of sync, I had to ssh into it and manually sync the time. But now it works.

[2022-08-11 14:32] #1763 closed

[2022-08-11 14:34] charIeszhao commented on #1763
Cool, you're welcome. Glad it helped.

[2022-08-12 23:25] alejandroiam opened #1775 "feature request: Allow Email SMS gateways"
Allow users to add their phone number and choose an email gateway (email to sms) to save on messaging cost.
kinda like the open source version of [textbelt](https://textbelt.com/) and how Callcentric does its authentication

![image](https://user-images.githubusercontent.com/62250256/184456384-2f3b35db-860d-4c39-8906-752a7f39a753.png)

[2022-08-13 03:31] gao-sun commented on #1775
Good point! @fleuraly would you like to take a look?

[2022-08-14 04:46] waltcow opened #1777 "feature request: table schema name style"
### What problem did you meet?

Currently table name have some very general name style like `Log` which may conflicts with other SDK predeclared identifier

### Describe what you'd like Logto to have

add prefix for all tables like `lgt`

[2022-08-14 07:33] SOVLOOKUP opened #1778 "feature request: use hash-wasm to avoid rebuild"
### What problem did you meet?

Rebuilding argon2 takes too much time on the arm64 build, see =>  https://github.com/logto-io/logto/pull/1578

### Describe what you'd like Logto to have

Using https://github.com/Daninet/hash-wasm to replace argon2

[2022-08-14 12:55] savchenko opened #1780 "feature request: MFA"
### What problem did you meet?
Lack of MFA support (FIDO, WebAuthn)

### Describe what you'd like Logto to have

- OTP (Google Authenticator, etc.)
- Yubikey
- WebAuthn

[2022-08-14 13:36] gao-sun commented on #1780
thanks @savchenko. we'll start the product design in Q3 and likely ship it in Q4.

[2022-08-14 13:39] gao-sun commented on #1777
thanks @waltcow. our recommendation is to use a dedicated database for Logto, but still your request is valid.

before we are settle on it, if you would like, you can directly contribute this feature.

[2022-08-14 13:42] gao-sun commented on #1778
this is cool! before we're working on it, you can contribute if you'd like.

[2022-08-15 02:08] waltcow commented on #1777
thanks @gao-sun
use a dedicated database wont't fix my issue. I want to develop another backend server like console with GoLang.
when I generate schema related struct with ORM generator, it conflicts with its predeclared identifier.

[2022-08-15 09:55] gao-sun commented on #1777
@simeng-li @charIeszhao would you guys like to follow this thread? thanks cc @xiaoyijun

[2022-08-18 08:07] hussamelvani opened #1791 "feature request: .NET SDK"
### What problem did you meet?

I want to use .NET/C# to build cross-platform apps (Xamarin, ASP.NET Core, etc.) but found no SDK.

### Describe what you'd like Logto to have

Support .NET/C#

[2022-08-18 11:14] gao-sun commented on #1791
hi @hussamelvani, your request is valid. currently we don't have a plan for .NET SDK (yet), if you are familiar with .net, you are more than welcome to contribute the SDK by following our [SDK Convention](https://docs.logto.io/docs/references/sdk-convention/).

[2022-08-18 12:09] hussamelvani commented on #1791
Hi @gao-sun,
I am familiar.
Thanks for linking the SDK Convention, I'll start working on it in the near future.

[2022-08-19 01:53] JZLeung commented on #1747
My Nginx has this configuration item `proxy_set_header Host $host` , but the message `redirect_uri did not match any of the client's registered redirect_uris` is still displayed.

I modified docker-compose.yml and ran `docker-compose restart`

[2022-08-19 02:06] JZLeung commented on #1747
my `docker-compose.yml`:
[code]

and my nginx's proxy config:
[code]

[2022-08-19 05:47] #1778 closed

[2022-08-19 13:39] mikarty opened #1795 "feature request: New device login notification"
### What problem did you meet?
Send notification to email when login is made from new device

### Describe what you'd like Logto to have
Toggle in logto admin console for application that enable this feature

[2022-08-19 22:01] About7Deaths opened #1797 "Feature Request: Add Official Supabase Support"
### What problem did you meet?

It is unclear if Supabase is properly / fully supported. The authentication flow I have in mind is using Logto as the identity and authentication server for the login page of my application, which would then redirect to an application dashboard populated by the various Supabase database features (besides their built-in authentication).

### Describe what you'd like

[2022-08-20 04:56] gao-sun commented on #1797
thank you! really cool idea

[2022-08-20 04:57] gao-sun commented on #1795
thanks, this is valid. i think it's on our roadmap, but not too early. before we get it completely productized, we may use hooks as a workaround when it's available. will let you know once it's ready.

[2022-08-20 11:22] ahamedzoha opened #1798 "bug: User Creation Error using username and password"
### Describe the bug
Logto is up and running in render.com along with its PostgreSQL DB.

Creating a user using a username and password results in an unknown error in the front-end. But, while checking Audit Logs and User Management, the created user and its events show up as successful. Despite user creation, cannot log in using the user credentials. Says `Unknown error. Please try again later.`

[2022-08-20 12:44] gao-sun commented on #1798
Thanks for reporting. Taking a look now.

[2022-08-20 13:00] gao-sun commented on #1798
I just tried our dev and a new docker compose environment, but neither of them can reproduce. Username-with-password worked as expected.

@ahamedzoha is the console log accessible in render? It'll be great if we can see the call stack.

@simeng-li @charIeszhao do you guys have a Render account? Maybe this is something related to Render.

[2022-08-20 13:36] charIeszhao commented on #1798
Hi @ahamedzoha, it looks like the API request timed-out when you tried to sign in with your new account.

<img width="293" alt="image" src="https://user-images.githubusercontent.com/12833674/185748404-03eb6c7f-6f89-419c-af1d-e44c9f1a2a0e.png">

We are using [ky](https://github.com/sindresorhus/ky) to send requests and it has a [default request timeout of 10 seconds](https://github.com/sindresorhus

[2022-08-21 18:01] ahamedzoha commented on #1798
I simply cannot login using username and password. Getting timeout Error.
![image](https://user-images.githubusercontent.com/13367662/185804474-d108b419-1ea8-4d1c-afdc-de6201f35af3.png)

Right, fails after 10 seconds.
![image](https://user-images.githubusercontent.com/13367662/185804506-6b4e0e77-997e-4fb8-a12b-51667f08694b.png)

Log of the app instance
![image](https://user-images.githubuserconten

[2022-08-21 18:02] ahamedzoha commented on #1798
**Social sign in (google connector) works perfectly, btw!**

[2022-08-22 01:17] charIeszhao commented on #1798
Can you provide us the link of your server? Would like to try it myself

[2022-08-22 02:46] seahurt opened #1800 "feature request: dingtalk connector"
### What problem did you meet?

need auth user from dingtalk

### Describe what you'd like Logto to have

a dingtalk connector

[2022-08-22 05:25] gao-sun commented on #1800
Thanks, this is valid. It's on our public roadmap already. Stay tuned.

[2022-08-22 09:29] ahamedzoha commented on #1798
@charIeszhao sure, [https://logto.azazahamed.com/](https://logto.azazahamed.com/)

The initial request might take a long time (30 sec) or fail. Render puts free tier apps to sleep after 15 mins of inactivity.

[2022-08-23 07:42] #1716 closed

[2022-08-23 07:46] gao-sun commented on #1716
the PR has been merged, you can use `TAG=edge` to fetch to main branch image, or wait for the next release.

then go Admin Console -> Sign-in Experience -> Tab "Others"-> Authentication, and you'll see a switch to disable registration.

feel free to let us know if you have any questions. :-)

[2022-08-24 15:19] charIeszhao commented on #1798
@ahamedzoha Sorry for the late response.
I tried your server and could reproduce the same issue. The username + password sign-in ended up in an unknown error, because the request timed-out (10s).

I also tried sending the request to your server through a REST client instead of triggering from browser client to get around ky, and it worked. Got the response in **15s** though, but the status was 200

[2022-08-24 15:39] gao-sun commented on #1726
@pemassi sry I forgot to reply. we had an internal discussion and found storing keys in database is ok once it's encrypted. we're going to refactor this part once our automatic database schema migration is ready.

[2022-08-26 12:14] akarapol opened #1825 "feature request: Disable user to create account on sign-in page"
### What problem did you meet?

Primary login with user and password allow user to register themselves that is not secure and may be attack by bot to create spam accounts

### Describe what you'd like Logto to have
I think it should be an option  on Sign-in Experience screen to disable self register

[2022-08-26 12:50] gao-sun commented on #1825
Duplicate #1716?

[2022-08-27 01:09] akarapol commented on #1825
@gao-sun sorry to open the duplicate issue. I pull the tag=edge to test and it's work. thanks for your fast response.

[2022-08-27 01:09] #1825 closed

[2022-08-27 03:06] gao-sun commented on #1825
no worries! glad it works

[2022-08-28 14:42] pemassi commented on #1726
@gao-sun No worries! That's a good news. Then, I will work on create `helm` config without thinking sharing keys between pods.

[2022-08-28 15:22] gao-sun commented on #1726
@pemassi great! will let you know once it's ready.

[2022-08-29 05:42] spencercjh opened #1829 "Docs/Feature request: Missing efficient way for backend dev to get AK for test"
### What problem did you meet?

After I carefully read through:
1. https://docs.logto.io/docs/recipes/protect-your-api/
2. https://docs.logto.io/zh-cn/docs/recipes/protect-your-api/spring-boot.

I got the spring boot app ready, and started the logto server by docker-compose, I found that it was still hard to get the AccessToken to run the whole demo in [docs](https://docs.logto.io/docs/recipes/pro

[2022-08-29 07:47] NexZhu opened #1830 "feature request: add Nuxt SDK"
Hope there will be a Nuxt SDK with frontend and backend integration, like Next.js SDK.

### What problem did you meet?

### Describe what you'd like Logto to have

[2022-08-30 01:47] charIeszhao opened #1837 "feature request: arm64 docker image support"
### What problem did you meet?

Currently when building the docker image from source on arm64 machine (e.g. Oracle A1 instance), it will fail with errors from puppeteer and parcel image optimizer plugin.

[code]

[code]

### Describe what you'd like Logto to have

It would be nice if we can provide a way to get around this or a runnable arm64 image directly on ghcr or docker hub.

[2022-08-31 06:39] flobaader opened #1842 "bug: Connection to SSL DB: Error: self signed certificate in certificate chain"
### Describe the bug
I use a DigitalOcean Managed Postgres database for the deployment, but get the following error when starting the logto container:

[code]

### Expected behavior
Logto should be able to connect to SSL only databases.

### How to reproduce?
1. Get a hosted DB at DigitalOcean
2. Configure the Logto Docker Container like this

### Alright tried

I tried to use the following env va

[2022-08-31 06:40] flobaader commented on #1842
There are a lot of people with the same problem:
https://www.digitalocean.com/community/questions/not-connected-error-self-signed-certificate-in-certificate-chain-while-connecting-to-postgres

https://www.digitalocean.com/community/questions/error-self-signed-certificate-in-certificate
https://www.adrianhorning.com/digital-ocean-app-platform-ssl-certificate-node-postgres/
https://www.digitalocean.

[2022-08-31 20:29] flobaader opened #1844 "bug: Migration fails if "logto" DB already exists"
### Describe the bug
If the "logto" DB already exists in an otherweise empty Postgres DB, then migrations don't continue. Many times the DB is already provisioned (like in a managed DB, or if defined via `POSTGRES_DB: "logto"`

### Expected behavior
The Migration should continue if the DB already exists. If there are any tables in that DB, then the migration should stop probably.

### How to repro

[2022-09-01 01:33] charIeszhao commented on #1842
@flobaader I'm not quite sure about this one. Are you using a self-signed certificate? Will this still happen if you issue your certificate by a trusted CA?

[2022-09-01 01:34] charIeszhao commented on #1798
@ahamedzoha Please let me know your thoughts. Thanks!

[2022-09-01 01:34] akarapol commented on #1579
@gao-sun how to send the custom-data of user with  id_token and access_token

[2022-09-01 03:12] charIeszhao commented on #1844
Hi @flobaader , thanks for reporting.

And yes, this is an acknowledged issue and it has caused confusion several times to others as well.

However, this is actually "by design". When we were writing the script we thought it would be clean and safer if the database was empty, and TBH it was also easier to implement.

But now we think you concern is valid and we'll try to update the script to avoid

[2022-09-01 06:59] charIeszhao opened #1852 "Support vertical center in `usePosition` hook"
In Logto admin console, the `usePosition` hook is used in popover-ish components (tooltip, dropdown, etc.) to help locate their render positions relative to their parent component. Currently the supported alignments in the hook are:
* Horizontal: left, center, right
* Vertical: top, bottom

We would like to add `vertical center` support to the hook, so that we will be able to implement tooltips th

[2022-09-01 07:09] charIeszhao opened #1853 "Eliminate all `icons/*.tsx` files and use svg instead"
Previously when we need to dynamically change the color of an SVG image, we had to wrap the SVG elements in a tsx file, and import it as a component in other page components.

But now we are using `@parcel/transformer-svg` plugin, which helps automatically transform a regular SVG file into a React component, and we are able to import it as component directly in other page components. (Example usag

[2022-09-01 08:49] charIeszhao opened #1855 "Investigate the randomly spotted `dev: true` in pnpm-lock.yaml"
When executing `pnpm i`, we notice that sometimes in pnpm-lock.yaml there are numerous `dev: true` lines added for each dependency.

This is a bit weird and totally unexpected. We would like to know the reason why and a possible solution to avoid this behavior.

For example this one: https://github.com/logto-io/logto/pull/1043#discussion_r888144674

[2022-09-01 09:09] TarzanZhao opened #1856 "bug: There is no reaction to signout button."
### Describe the bug

I try building my own react project with Logto. I follow the instruction from [React: Integrate @logto/react](https://docs.logto.io/docs/recipes/integrate-logto/react/) very carefully. However, when I pressed the signout button, nothing happened. I did not need to log in again after pressing the signout button.

[2022-09-01 09:12] charIeszhao commented on #1856
Hi @TarzanZhao , can you provide more context? It would be great if you can provide a minimum reproducible example

[2022-09-01 09:19] charIeszhao commented on #1844
Btw, our `docker compose` is not for production usage, as a new Postgres instance will be created every time, and you will lose your data previously persisted.

[2022-09-01 09:22] TarzanZhao commented on #1856
Thank you! This is my code repo: https://github.com/TarzanZhao/test_logto_reach
This [link](https://github.com/TarzanZhao/test_logto_reach/blob/9ec2f754e1dd21f710397a55cae6b1ae6ddbaf0e/src/Callback.js#L39-L45) is where I use signout.

This is a very simple project and it is only used for testing log in and log out.

[2022-09-01 09:28] TarzanZhao commented on #1856
I could not find signout logs in Postgres log table either.

[2022-09-01 09:41] charIeszhao opened #1858 "bug: Admin console theme should follow its own settings, instead of being affected by "sign-in experience""
Logto admin console is a special app, independent from all the regular apps you can create / delete in the "Applications" page.

However, there's a bug that even though it is a special app, its sign-in page still inherit something from the general "sign-in experience" settings, which is for the "regular apps". The theme of the sign-in form is one of these things.

Currently, even you have configur

[2022-09-01 09:51] gao-sun commented on #1856
would you like to follow the issue template? we still need to figure out these info even if you delete them manually.

[2022-09-01 09:51] #1856 closed

[2022-09-01 09:53] gao-sun commented on #1856
feel free to contact us to re-open the issue once the template has been filled.

[2022-09-01 10:08] TarzanZhao commented on #1856
get it! sorry for not following the template.

[2022-09-01 10:16] charIeszhao opened #1859 "Add typescript guard to the i18next key used on buttons in "ui" project"
In Logto monorepo, there's a sub-package/project called "ui", which holds the forms used in sign-in main flows.

Moreover, we use `react-i18next` as the i18n solution, and the phrases we used in "ui" are located in "phrases-ui" project.

The issue is, however, even though we are using react-i18next key phrases in "ui", the Button component does not enforce the usage of the i18n key, as the button

[2022-09-01 11:04] charIeszhao opened #1860 "Guard redirect URI for native apps with custom schemes"
### Description

In admin console, we can configure `redirect URIs` for each application. However, per [RFC specs](https://www.rfc-editor.org/rfc/rfc8252#section-8.4), for native apps, the URI must be a reverse domain name based schemes, e.g. `com.mycompany.demo://callback`.

Currently, in admin console we do not have extra validation for these native app custom schemes, so that any valid URI form

[2022-09-01 11:21] charIeszhao opened #1861 "⭐️🌟 Logto Bounty Board 🤠🧐"
![bounty-hunter-series](https://user-images.githubusercontent.com/12833674/187826200-57bc9c49-675c-4c6b-8031-75b0a71951f0.png)

Howdy folks,

Where are the brave and resourceful “bounty hunters”?

Ever since Logto's beta release, there have been many enthusiastic volunteers who really helped make meaningful contributions to the platform and its user base. Now, Logto is going to reward our old frie

[2022-09-01 12:05] b4s36t4 commented on #1853
Did anyone started working on this?

[2022-09-01 12:07] charIeszhao commented on #1853
Not yet. First come, first served!

[2022-09-01 12:08] b4s36t4 commented on #1860
Can I work on this?

[2022-09-01 12:09] charIeszhao commented on #1860
Sure, why not? You are more than welcome to become our first bounty hunter.

[2022-09-01 16:16] ahamedzoha commented on #1798
Hi @charIeszhao! Sorry for the late reply. The free tier I am using at render.com has a shared CPU with 512MB of RAM. I would be much more comfortable trying it out in a free server tier while learning and implementing the logto solution. I do understand that it is by no means meant to be performant with such low resources. I am planning to use better hardware in production.

Yes, adding a manual

[2022-09-01 16:48] gao-sun commented on #1858
maybe we can provide some screenshots

[2022-09-01 17:55] b4s36t4 commented on #1855
I think they might be added cause that the packages might be `devDependencies`. I've seen most of the packages that are mentioned under `devDependencies` are having the `dev:true`

dev:true with devDependency
<img width="1015" alt="Screenshot 2022-09-01 at 11 23 18 PM" src="https://user-images.githubusercontent.com/59088937/187980433-50a77833-4bad-4907-8f1e-92ace2096098.png">

No `dev:true` for th

[2022-09-02 00:41] charIeszhao commented on #1607
Hi Jack, how are you doing lately? It seems it's been awhile since we talked about this last time. And due to the inactivity of more than 3 weeks, we are going to take it back from you and see if there's anyone else who is also interested in.

And btw, we are now promoting a "Logto bounty hunter" event, in which you can complete bounties and claim rewards (real money 💰💰💰). And I think this ticket

[2022-09-02 01:11] charIeszhao commented on #1798
OK, thanks for the updates. We'll see what we can do. Cheers!

[2022-09-02 06:08] gao-sun commented on #1855
@charIeszhao would you like to add more context?

[2022-09-02 06:09] gao-sun commented on #1852
@FlurryNight go ahead

[2022-09-02 06:14] charIeszhao commented on #1855
I think this one has been taken by Olyno last night [on Discord](https://discord.com/channels/965845662535147551/965845662979719198/1014875162597929082), though he hasn't commented yet on Github issues.
And I have provided detailed context on Discord, that sometimes even if we bump a dev dependency version (the package has always been in dev dependencies list), we still see these `dev: true` in pn

[2022-09-02 07:24] pemassi opened #1867 "feature request: new connector Naver"
### Describe what you'd like Logto to have

`Naver` is a famous internet service provider like `Google` in South Korea

I believe that by adding `Naver` connector, Korean developers will use `Logto` more!

[2022-09-02 07:24] pemassi commented on #1867
I will work on this issue!

[2022-09-02 07:26] charIeszhao commented on #1867
Cool! 🚀

[2022-09-02 07:27] darcyYe commented on #1867
Cool! Looking forward to it!

[2022-09-02 07:37] wangsijie commented on #1867
@pemassi thanks! FYI: we introduced a new repo for [connectors](https://github.com/logto-io/connectors) together with a breaking change, which is expected to ship after next week.

[2022-09-02 08:29] Olyno commented on #1607
Hi 👋

I would like to be assigned to this issue if possible please 😄

[2022-09-02 08:36] jackm9367 commented on #1607
Hey @charIeszhao and @Olyno
I've been off sick for the last while so would love it if you could take this one @Olyno!
Sorry for not messaging you @charIeszhao, fell off my radar a bit.....
- Jack

[2022-09-02 08:42] charIeszhao commented on #1607
No problem. @jackm9367 Sorry to hear that, but I hope you are OK now.
Feel free to let us know if you would like to contribute something. You are always welcome here

[2022-09-02 09:05] pemassi commented on #1867
@wangsijie Got it. I will work on that repo.

[2022-09-02 10:27] pemassi opened #1870 "feature request: spring boot starter"
### Describe what you'd like Logto to have
I have looked roadmap and the team decided to not build SDK. ([logto-io/roadmap/#22](https://github.com/logto-io/roadmap/issues/22))

I think make `logto-spring-boot-starter` helps a lot of developers to build their project in short time like `Keycloak` (https://mvnrepository.com/artifact/org.keycloak/keycloak-spring-boot-starter)

[2022-09-02 10:48] pemassi opened #1871 "bug: press tab not adding spaces when editing custom data"
### Describe the bug
Press the `tab` not add spaces when editing custom data on user management.

### Expected behavior

When press the `tab` add spaces (maybe 4)

### How to reproduce?

### Context

Logto version: beta 8

Web browser version: Chrome 103.0.5060.134 (Official Build) (arm64)]

### Screenshot

<img width="640" alt="image" src="https://user-images.githubusercontent.com/10739332/188123

[2022-09-02 12:07] #1758 closed

[2022-09-02 13:58] b4s36t4 commented on #1860
@charIeszhao @gao-sun Create PR for this one. Please leave a review.

[2022-09-02 14:48] FlurryNight opened #1876 "feature: Connector Discord"
### What problem did you meet?
https://github.com/logto-io/roadmap/issues/30

### Describe what you'd like Logto to have
Interested working on it, will explore discord oauth flow first

[2022-09-04 08:44] saiswaroopmaddi commented on #1855
@charIeszhao @b4s36t4 @gao-sun

I checked this issue in different projects, which is also addressed here in lerna: [https://github.com/lerna/lerna/issues/1256](https://github.com/lerna/lerna/issues/1256)

Even though it doesn't impact, `package-lock.json` will be shown changes and developer might push them to the repository.
So, the quick workaround I found is to write a pre-commit script (or usin

[2022-09-05 03:16] charIeszhao commented on #1855
@saiswaroopmaddi Thanks for the information. But I think differently, as we are not using npm, but pnpm. And the issue is seen in pnpm's lock file (pnpm-lock.yml). According to pnpm, the `dev: true` indicates the package is used as a dev dependency.
However, our issue is, even if we are always using a package as devDependency, and sometimes we just bump the version of it, we still end up seeing to

[2022-09-05 03:37] saiswaroopmaddi commented on #1855
This issue is also there in npm too.
Ofcourse, yes if you change the version of one of the devDependency package, then we see this issue because npm re-check all devDependency packages and set this property to all the qualified packages.

[2022-09-05 03:47] charIeszhao commented on #1855
Hmmm, but if you check the link I provided, you'll see we only bumped our own package (@logto/react), and there was no related dev dependency changes at all in that upgrade.

[2022-09-05 04:31] saiswaroopmaddi commented on #1855
If you are using some devDependencies in your own package, then changing version of your own package will also trigger this check and adds this. You can try reproducing it. This is because one way or other packages depend on other (devDependencies or non-devDependencies) so npm or pnpm mark that as dev:true.

[2022-09-06 02:30] zhoutaiping opened #1886 "bug: vue2 LogtoClient getOidcConfig"
ERROR  Failed to compile with 1 error                                                                      上午10:23:51

 error  in ./node_modules/@logto/client/lib/module.js

Module parse failed: Unexpected token (87:18)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
|
| class $19775a

[2022-09-06 03:56] charIeszhao commented on #1886
Hi @zhoutaiping , thanks for reaching out. But please DO follow our issue template when creating new tickets, and fill in the necessary information such as "Steps to reproduce". This will help us better understand your issue and quickly jump in to it.

Vue 2 is currently not supported. Please refer to our Vue SDK documentation for more details: https://docs.logto.io/docs/recipes/integrate-logto/vu

[2022-09-06 03:57] #1886 closed

[2022-09-06 04:36] zhoutaiping commented on #1886
my vue2 project user @logto/browser
node.js version v14.18.2
main.js ->   import LogtoClient from '@logto/browser'
console error  ->
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
getOidcConfig  not loader

[2022-09-06 04:38] zhoutaiping commented on #1886
Vue2 project should be use   import LogtoClient from '@logto/browser',
use '@logto/browser' Will report an error
But I don't know what NPM package he lacks

[2022-09-06 06:48] charIeszhao commented on #1886
Hi @zhoutaiping , as what we stated in the @logto/browser [README](https://github.com/logto-io/js/tree/master/packages/browser#what-is-this-and-how-does-it-work), the browser SDK is not expected to be used directly in your client application.

Please consider upgrading to Vue 3 as we have official Vue SDK for Vue 3 and its composition APIs. If you have to use Vue 2 I think you can only convert thi

[2022-09-06 17:22] Alecyrus opened #1889 "bug: Mixed Content Error"
### Describe the bug
<img width="896" alt="CleanShot 2022-09-07 at 01 18 30@2x" src="https://user-images.githubusercontent.com/13865581/188699415-39b73355-65ca-43ba-a68b-532a6595382b.png">

### Context
![CleanShot 2022-09-07 at 01 18 56@2x](https://user-images.githubusercontent.com/13865581/188699572-287bbbea-aeb3-4f61-a8dc-01619c3b089b.png)
<img width="1343" alt="CleanShot 2022-09-07 at 01 21 05@

[2022-09-06 17:36] #1889 closed

[2022-09-06 17:42] Alecyrus opened #1890 "bug: cannot open Settings"
I can not open `Settings`.

### Describe the bug
<img width="652" alt="CleanShot 2022-09-07 at 01 42 31@2x" src="https://user-images.githubusercontent.com/13865581/188703580-b07b5a3b-4a03-48bd-b70f-b81d5f36224a.png">

<img width="908" alt="CleanShot 2022-09-07 at 01 39 47@2x" src="https://user-images.githubusercontent.com/13865581/188703231-85061893-7d8f-48b0-b243-ea52113a6962.png">

Logto version

[2022-09-06 23:41] gao-sun commented on #1890
Thanks for reporting. @charIeszhao would you like to take a look?

@simeng-li can you add an issue for AC smoke tests to make sure every tab can be rendered? Thanks

[2022-09-07 02:26] simeng-li commented on #1890
Added

[2022-09-07 07:59] flobaader commented on #1842
@charIeszhao If had this issue while connecting to a managed Digital Ocean DB and also a managed aiven.io database.

The hotfix would be to have an environment variable that allows to trust the SSL cert of the database. That env var has to be passed to the database client.

I am not sure what the underlying problem is, because many tools can easily connect to the databases without any problems. Pr

[2022-09-07 07:59] flobaader commented on #1842
Another option would be to allow to specify the CA Cert values in the env section.

[2022-09-07 08:00] flobaader commented on #1844
Alright thank you!

[2022-09-07 11:27] #1890 closed

[2022-09-07 11:28] #1871 closed

[2022-09-08 08:39] flobaader commented on #1649
@gao-sun is there any plan when to release the flutter SDK? because q3 ends in a few weeks :)
It would a massive game changer for us if you would support flutter!

[2022-09-08 09:22] gao-sun commented on #1649
@simeng-li who's actively developing Flutter SDK. would you like to briefly update? thanks.

[2022-09-08 09:45] iam-TJ opened #1904 "feature request: Accessibility support?"
### What problem did you meet?

I've landed here due to your Hacker News Show HN article. I've an interest in ensuring tooling fully accommodates visual impairments and blindness. I could not immediately find any references to this in issues or code so am asking the question.

### Describe what you'd like Logto to have

Full support for screen readers and other assistive technology; good colour ch

[2022-09-08 10:01] gao-sun commented on #1904
Hi TJ,

thanks for letting us know this. and yes, it'll be great if we can document the accessibility support.

@fleuraly would you like to explain a little bit from the design perspective?
@simeng-li @wangsijie @charIeszhao can one of you guys describe the status quo about engineering?

[2022-09-08 10:19] simeng-li commented on #1649
Hey, @flobaader glad to have you with us. I have been actively working on this for about 1-2 weeks. To be honest, I have zero experience in Flutter development before and also get a couple of other tasks running simultaneously, the process is much slower than I expected.  Hope you understand.

Since you asked, it would be a great pleasure for us if we can work this out. I'll shift some of my effor

[2022-09-08 12:42] flobaader commented on #1649
Hey @simeng-li , we are using Flutter on iOS and Android. We have a few flutter developers in our company so if you need any help on a specific topic we could arrange that :)

[2022-09-08 13:43] charIeszhao opened #1906 "Add unit test cases to our regular expressions"
In `@logto/shared` package, there are several regular expressions defined in `src/regex.ts`. Create unit test cases to ensure the correctness of the expressions.

[2022-09-08 14:48] charIeszhao commented on #1906
Sorry, buddy. I think you have taken too many bounties right now. Leave something for the others, will ya? 🤣
Will find some more challenging task for you in the next few weeks, since you are already a veteran now. Stay tuned!

[2022-09-08 14:53] waveywaves commented on #1906
Can I take this one up ? :)

[2022-09-08 14:54] charIeszhao commented on #1906
lol, no worries

[2022-09-09 01:50] simeng-li commented on #1649
Bravo! Hands-on it, will keep you posted.

[2022-09-09 06:53] IceHe commented on #1870
@pemassi you want to use `spring-boot-starter` to build a Tradition web app (like Spring Boot + JSP/[Thymeleaf](https://www.thymeleaf.org/)) or a resource server only?

[2022-09-09 13:42] jackm9367 opened #1911 "bug: Error installing Logto Dev Encironment on macOS Monterey 12.5.1"
### Describe the bug
Attempting to download source and run dev server results in an app crash of @logto/core. It seems as though this is during the key generation process for first-startup. Unable to access ui (port 5001), console (5002), or demo-app (5003)

### Expected behavior
Expected dev server to compile code and prompt for first-time key generation (with bug as per contributing guidelines),

[2022-09-09 14:58] charIeszhao commented on #1911
You need to have both `OIDC_COOKIE_KEYS` env and a `oidc-private-key.pem` before you are able to run the core service.

The easiest way is to auto-generate them by executing `pnpm dev` command in `<logto_root>/packages/core` directory. The command line tool will prompt if you want to generate them. Answering `Y` to both questions and you will be all set to go. Execute `pnpm dev` again in the logto

[2022-09-09 16:41] saiswaroopmaddi commented on #1855
@charIeszhao  Are you referring to this PR: [https://github.com/logto-io/logto/pull/1043](https://github.com/logto-io/logto/pull/1043)?

If so, then in my observation most of the sub-projects in log2 monorepo using devDependencies which causes this.

Here, where npm written the same thing: https://docs.npmjs.com/cli/v8/configuring-npm/package-lock-json#:~:text=dev%2C%20optional%2C%20devOptional,an

[2022-09-09 17:15] 5war00p commented on #1859
@charIeszhao Can I take up this?

[2022-09-09 17:17] charIeszhao commented on #1859
Sure! Ticket assigned to you. Thanks!

[2022-09-10 01:43] jackm9367 commented on #1911
All sorted thanks to @charIeszhao

[2022-09-10 01:43] #1911 closed

[2022-09-11 11:25] dzp-java opened #1914 "bug: Go Web: Integrate Logto , "Traditional web" Application , FetchTokenByAuthorizationCode responsed "invalid_client""
### Describe the bug

Go Web: Integrate Logto , "Traditional web"  Application  , FetchTokenByAuthorizationCode responsed "invalid_client"

unexpected status code: 401, response body: {"error":"invalid_client","error_description":"client authentication failed"}

### Expected behavior

 "Traditional web"  Application fail ,but use  "Single Page App" is ok
### How to reproduce?

### Context

OS:  Ce

[2022-09-11 14:30] gao-sun commented on #1914
@xiaoyijun would you like to take a look? thanks

[2022-09-12 01:00] xiaoyijun commented on #1914
Hi, @dzp-java. Could you please provide a minimum reproduction repo for us?

[2022-09-12 02:47] dzp-java commented on #1914
Just according to the official instructions:
https://docs.logto.io/zh-cn/docs/recipes/integrate-logto/go-web

and   "Single Page App"  secret find by browser :
https://<logto-host>/api/applications/<appid>

[2022-09-12 03:11] dzp-java opened #1915 "bug: connectors social " Alipay Web" config " charset : UTF8 " can't save"
### Describe the bug

api url : `https://<host>/api/connectors/alipay-web`

Official tips:
[code]

request payload:
[code]

response body:
[code]

### Expected behavior

Official tips:  ` "charset": "<OPTIONAL-charset-either-GBK-or-UTF8>"`

Error response:  ` "message": "Invalid enum value. Expected 'GBK' | 'utf8'"`

Hope to be consistent with the official statement.  "utf8  -> UTF8 "

### How to

[2022-09-12 04:28] xiaoyijun commented on #1914
I think I got it.
Currently, the single-page application does not have an `AppSecret`.
If you want to use the Go SDK in the single-page application, just remove the `AppSecret` from the `LogtoConfig`:

[code]
By the way, if you're using a SPA, a client SDK ( React / Vue ) is more suitable than a traditional web application SDK.

[2022-09-12 06:08] dzp-java commented on #1914
` status code: 401, response body: {"error":"invalid_client","error_description":"client authentication failed"} `

My guess is that there is a problem in judging the application type on the server side, not on the client side

[2022-09-12 10:24] bigzhu opened #1916 "bug: 姓名使用中文时候, 取过来是乱码"
<img width="1508" alt="Screen Shot 2022-09-12 at 18 23 36" src="https://user-images.githubusercontent.com/489815/189631253-cc89fc79-5810-42ab-a2f8-35ec873bcffd.png">

[2022-09-12 10:46] #1916 closed

[2022-09-12 10:50] charIeszhao commented on #1916
Please write your ticket in English, and fill-in our predefined issue template.

[2022-09-12 11:00] charIeszhao commented on #1915
@darcyYe Would you like to take a look? Might just need to support both `UTF8` and `utf8` in the enum?

[2022-09-12 12:12] flobaader commented on #1842
@charIeszhao The SSL signing is not in my hand on a managed Database. This is done by DigitalOcean, AWS or Google Cloud. So we just have to accept the SSL certs that are issued by them.

[2022-09-12 12:29] charIeszhao commented on #1842
But do you have access to the Digital Ocean instance? Can you change the way that they issue the cert?
I mean, you can always use something like `Let's Encrypt` to issue a trusted cert for free.

The digital ocean also has a step by step guide on it: https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-18-04

[2022-09-13 01:34] xiaoyijun commented on #1914
This works well in our [gin-sample](https://github.com/logto-io/go/tree/master/gin-sample); we need more information about your program, would you like to provide a minimum reproduction repo for us?

[2022-09-13 03:22] simeng-li commented on #1870
Hey @pemassi. Thx for asking. We have a [Protect your API on Spring Boot
](https://docs.logto.io/docs/recipes/protect-your-api/spring-boot) backend integration guide provided. Which gives detailed instructions on how to use `spring security` and Logto authorization token to apply authorization to the Spring Boot server.

In terms of client SDK for a SpringBoot-based traditional web, we did some br

[2022-09-13 03:35] simeng-li commented on #1904
@iam-TJ Thx for the kindly reminding. Couldn't agree more. We take the a11y seriously on our products.
I have a11y related issues created on our internal trackers, including the lint rules and scanning jobs.  We gonna make sure to monitor the a11y availabilities through all the future development works.  Logto still needs a lot of polish work to do, we will address this asap.

[2022-09-14 18:57] myesn opened #1933 "bug: docker-compose postgres service throws "Operation not permitted""
### Describe the bug

`postgres` service cannot work.

### Expected behavior

Normal work.

### How to reproduce?

docker-compose.yml:
[code]

then execute `docker-compose up -d`, the results are as follows:
![image](https://user-images.githubusercontent.com/18598579/190237926-8c3dc8d1-07f3-4111-839d-cb6f75131b4f.png)

When I remove the `user: postgres` property of the `postgres` service, the `pos

[2022-09-15 03:21] gao-sun commented on #1933
FYI https://stackoverflow.com/questions/60193781/postgres-with-docker-compose-gives-fatal-role-root-does-not-exist-error

[2022-09-15 03:23] gao-sun commented on #1933
i think it's not related to Logto. but i'm curious about it too, please let me know if you figure out the fix. :-)

[2022-09-15 05:03] gao-sun opened #1937 "📍 Public roadmap 📌"
## Major releases

| Feature | Planned release date |
|--------|--------|
| MFA #1780 | 2023-11-13 |
| Organizations #3741 | 2023-11-20 |
| Enterprise SSO #3740 | 2023-11-27 |
| Token exchange #2880 | 24Q1 |
| Backchannel auth<br/>(e.g. WhatsApp, QR code) | 24Q1 |

## Issue labels

For categorization, you may find some issues have the following labels:

### Components

See [this link](https://gith

[2022-09-15 05:58] darcyYe commented on #1915
Aligned README.md and code, and use lower-cased `gbk` and `utf8` as character encoding.
https://github.com/logto-io/connectors/pull/12

[2022-09-15 11:32] flobaader commented on #1842
@charIeszhao No it's not a VPS - its a managed Database https://www.digitalocean.com/products/managed-databases-postgresql

[2022-09-15 11:33] JulianHartl commented on #1649
Hey @simeng-li, I'd be happy to help you out with the Flutter SDK. Just let me know when you need any help or support :)

[2022-09-15 11:37] flobaader commented on #1842
@charIeszhao Basically LogTo will be unsable for our business usecase if those managed databases are not supported, because we rely on managed databases and do not host or control the database ourselves.

[2022-09-15 12:08] myesn commented on #1933
Thank you for your reply, I am very sorry, I myself know that this issue is not related to logto. It's just that I spent two hours yesterday in a desperate situation before I posted this issue, so I'm sorry for the trouble I caused you.

The solution is as follows:

The configuration is the same as above, first manually create `postgres-data` directory on the host, then execute `sudo chown -R 999:

[2022-09-15 12:08] #1933 closed

[2022-09-15 12:50] myesn opened #1944 "question: Why is the administrator hidden by default?"
### What problem did you meet?

The hideAdminUser parameter is hardcoded to true:

[https://github.com/logto-io/logto/blob/5fe0cf4257a72f96fc439132c7b5b58e07352aa3/packages/console/src/pages/Users/index.tsx#L39](https://github.com/logto-io/logto/blob/5fe0cf4257a72f96fc439132c7b5b58e07352aa3/packages/console/src/pages/Users/index.tsx#L39)

### Describe what you'd like Logto to have

So I can't chan

[2022-09-15 18:21] imkarthikk commented on #1937
@gao-sun The Notion roadmap is cool. But it doesn't allow the community to interact with the maintainers. Maybe a tool like Hellonext for logto's roadmap will work better?

URL: https://hellonext.co

[2022-09-16 02:17] charIeszhao commented on #1944
Hi myesn, good question. It is because we wanted to treat admin user differently, as in v1 we only have 1 admin, and it doesn't make too much sense to mix admin (yourself) with users of your product.

As of now, you can reset your admin password in the "Settings" page.
<img width="930" alt="image" src="https://user-images.githubusercontent.com/12833674/190540648-d6b062bb-fbfe-46b0-911b-60350f6ec23

[2022-09-16 02:21] charIeszhao commented on #1944
You can join our [discord server](https://discord.gg/N8qyhmxz) if you haven't done so, and you'll be able to get instant release notifications and dev team support.

[2022-09-16 03:06] charIeszhao commented on #1842
Well, I still don't quite understand why the managed databases Digital Ocean provided are using self-signed certs. But anyways I'll give it a try today to see how it works.

[2022-09-16 04:12] gao-sun commented on #1937
thanks for your suggestion. we'll evaluate it!

[2022-09-16 04:15] #1944 closed

[2022-09-16 05:50] Hengyu-DU opened #1945 "bug: Name displays as messy code in Ant Design Pro when using Chinese"
### Describe the bug
**Name** displays as messy code in Ant Design Pro when using Chinese.
#1916

### Expected behavior
Chinese "Name" can be displayed as how it be set before.

### How to reproduce?

1. create an account
2. change the "name" of the account in Chinese in Logto Console
3. the account data accessed in web contains messy code

### Context

OS:

Environment: Windows 10 ; Mac

Logto ve

[2022-09-16 08:47] myesn commented on #1844
It is true that Logto's docker-compose.yml file is not currently configured to persist the database and it is recreated every time, but when I use it myself, I configure the persistence of the postgres data, so when the app service restarts every time for some reason, the postgres service logs get an `ERROR:  database "logto" already exists` error log.

Personally, I think Logto definitely needs d

[2022-09-16 11:02] #1867 closed

[2022-09-16 11:09] pemassi commented on #1870
@IceHe Resource server only!

@simeng-li The documentation is well documented. However, it looks like there is no rule-based API resource protection. This instructor explains the features that I want.

https://www.baeldung.com/spring-boot-keycloak

[2022-09-16 13:52] charIeszhao commented on #1945
Hi @Hengyu-DU , thanks for reporting! And yes, this is a legit problem... We just never found it for we never tried decoding CJK user name from `idToken`.

After debugging, we have located the root cause in one of our utility methods, which is used to convert back and forth between raw string and base64 string.

We'll provide a fix ASAP, and ship it in the next prerelease beta version (most likely

[2022-09-17 03:47] #1945 closed

[2022-09-17 06:45] charIeszhao commented on #1945
@Hengyu-DU This issue has been fixed in latest JS SDKs as well as Logto master branch. Cheers!

Please upgrade your `@logto/react` SDK to latest (v1.0.0-beta.6) in order to get rid of this annoying bug. Let me know if you have further questions.

Thank you for using Logto.
Charles

[2022-09-17 06:49] charIeszhao commented on #1906
Hi @waveywaves, how's is going man?

I'm writing to let you know that the `@logto/shared` has been moved to `@logto/core-kit` in [logto-io/toolkit](https://github.com/logto-io/toolkit).

Feel free to let me know if you have any questions. Thanks!
Charles

[2022-09-17 07:19] charIeszhao commented on #1798
@ahamedzoha Hi Zoha, sorry for the long wait. But finally we decided to increase the ky timeout to 20s, which I think would be enough for any server to respond to the client.

You can wait for the next prerelease version (likely released on next Monday or Tuesday), or try to upgrade to `:edge` version of Logto after this PR is merged.

Let me know if you have further questions. Thanks!
Charles

[2022-09-17 08:30] Hengyu-DU commented on #1945
Problem is resolved.
Thank you, Charles

[2022-09-17 13:09] #1798 closed

[2022-09-18 09:18] ahamedzoha commented on #1798
Thank you @charIeszhao! I will eagerly await the next release.

[2022-09-19 01:45] charIeszhao commented on #1853
@b4s36t4 Hi, any updates? Let me know if you have any blocker and we can help you out

[2022-09-19 01:48] charIeszhao commented on #1852
@FlurryNight Hi, any updates on this one? Let me know if you have any blocker and we can work this out together.
Ping me on discord if you need anything

[2022-09-19 01:57] charIeszhao commented on #1855
Yes, but the `@logto/react` has always been a "top level module" in the `devDependencies` for months, before being added the `dev: true` label. What you said is true, but it can't explain the change from `dev: false` to `dev: true`, isn't it? @saiswaroopmaddi

[2022-09-19 02:04] #1876 closed

[2022-09-19 02:18] darcyYe commented on #1915
[v1.0.0-beta.9 is released for @logto/connectors](https://github.com/logto-io/connectors/releases/tag/v1.0.0-beta.9), update the dependency of this package to fix this.

[2022-09-19 02:18] #1915 closed

[2022-09-19 07:23] simeng-li commented on #1870
Got you. Absolutely, it's a hard requirement to have rule-based API resource protection on a spring server. A fully functioned Role-based access control is on our Q4 road map. We will fulfill this Spring Integration Guided with more `rule-based` validation instructions by that time.   Thx for your report.  Let's keep the thread open and we will keep you posted once it's done. Any feather feedbacks

[2022-09-20 03:23] zfc09 opened #1969 "feature request: deploy logto under a subpath"
### What problem did you meet?
I try to deploy logto under a subpath, e.g. `https://xxxx.com/auth` , but it's not working.

Looks like i need to rebuild the source code with parcel parameter --public-url. I'm not sure this is the correct method, can we have the official deployment document on how to deploy logto under a subpath ?

### Describe what you'd like Logto to have
1. support logto to depl

[2022-09-21 05:11] gao-sun commented on #1829
we're working on Machine to Machine apps. then it'll be much easier to fetch an Access Token then.

[2022-09-21 06:20] #1859 closed

[2022-09-22 03:08] saiswaroopmaddi commented on #1855
Hey, if you remember, can you tell me what command used for installation after changing the version? And is there any env used while installing?

[2022-09-22 03:49] saiswaroopmaddi commented on #1855
Along with the above comment AFAIK, possible reasons are:
- mismatch in Node version or NPM (or PNPM) version across the contributor will lead to these changes.
- Lock files are kind of indeterminant from machine to machine. Installing same packages on intel and installing on M1 creates a differences like this. [[Refer](https://stackoverflow.com/questions/44748073/npm5-package-lock-json-different-

[2022-09-22 03:52] charIeszhao commented on #1855
The command is always `pnpm i`

[2022-09-22 04:08] saiswaroopmaddi commented on #1855
Cool, okey. Can you also verify this https://github.com/logto-io/logto/issues/1855#issuecomment-1254485643?

[2022-09-22 04:20] charIeszhao commented on #1855
In our team we are all using pnpm and M1 pro. So to me it's not due to the mix use of any of these

[2022-09-22 05:57] saiswaroopmaddi commented on #1855
And also the node and pnpm versions are same?

[2022-09-22 14:19] charIeszhao opened #1983 "refactor: application details form"
Since we are going to have 4 different application types now (Native, SPA, Traditional Web and M2M), and in future, each of them may have different form fields in the application details, it'll be better to have a new form renderer that can generate form fields according to a given form config.

More details can be found in this original comment:
https://github.com/logto-io/logto/pull/1973#discuss

[2022-09-24 14:35] myesn opened #1997 "feature request: Support for non-root path deployments"
### What problem did you meet?

Since I only have the HTTPS certificate for the top-level domain, when I use nginx for reverse proxy, I need nginx to match the URL starting with `/logto` before forwarding to the Logto application, and as of now, some style files and js files are directly requesting the `/` root path, which prevents them from loading successfully

[code]

![image](https://user-imag

[2022-09-24 15:42] gao-sun commented on #1997
duplicate #1969?

[2022-09-24 15:45] #1997 closed

[2022-09-24 23:20] mrchenxxx opened #2000 "feature request: 连接器支持飞书 企业微信 钉钉等"
希望连接器支持 飞书企业微信 钉钉等

[2022-09-25 05:47] #2000 closed

[2022-09-27 06:16] charIeszhao commented on #1853
@b4s36t4 I'm unassigning the ticket due to inactivity of more than 3 weeks. Please let me know if you still want to take this. Thanks!

[2022-09-28 08:57] flobaader commented on #1842
@charIeszhao did you succeed in connecting to the managed database?

[2022-09-29 04:12] Jasonshaojs509 opened #2030 "feature request: SMS and email connector by tencent cloud"
### What problem did you meet?

Enable SMS or email passcode sign-in using tencent cloud

### Describe what you'd like Logto to have
SMS and email connectors using tencent cloud

[2022-09-29 09:18] charIeszhao commented on #1842
@flobaader I'm terribly sorry, that I wasn't able to do it recently, as we have some hard milestone to complete by the end of Q3, and the team is really dedicated right now to deliver the cool stuff.
I will try it next week during the national holidays, and let you know if I find anything. Thank you for your patience.

[2022-09-30 06:16] flobaader commented on #1842
@charIeszhao Alright thank you, looking forward to your results!

[2022-10-02 09:35] gao-sun commented on #1829
Machine to machine has launched in beta.10. Let me know how it works and if the issue can be closed.

[2022-10-04 06:43] 5war00p commented on #1858
Hey, @charIeszhao can I take up this?

[2022-10-04 06:47] 5war00p commented on #1858
I see we are using the `use-theme` hook for the entire admin console but in `signin-experience` components which seems a common component verifies whether the dark mode is enabled or using the SignInExperience Form FieldWatcher.

Correct me if I'm wrong.

[2022-10-08 03:09] charIeszhao commented on #1858
@5war00p Sorry for the late response. We had couple days off to celebrate national holidays, and just get back to work today. And sure yes, you can take this up and try to figure it out. 👌🏻

As for the root cause, you are almost there. In admin console, we use the `use-theme` hook wherever possible to determine the theme color.

However, the sign-in page of admin console is an independent webapp,

[2022-10-08 04:12] gao-sun commented on #1855
@charIeszhao

[2022-10-08 06:05] charIeszhao commented on #1855
Sorry for the late response.

Yes, the node and pnpm versions are both the same, before and after... And even if we upgraded pnpm regularly, we can still see this occationally as of today. So to me this now seems to be a trivial bug on pnpm side. But since it doesn't break anything (except for being a bit weird), people really don't care about it that much.

I personally don't think we can do anyt

[2022-10-08 06:05] #1855 closed

[2022-10-08 09:09] shensven opened #2060 "bug: Can't signin after reset password"
### Describe the bug

Access Logto's console with admin account, reset user's password, can't sign in again with original password or new one.

### Context

OS: `macOS 12.6`

Environment:
[code]

Logto version: `1.0.0-beta.10`

Node version: `v16.17.0`

Postgres version: `13.7`

Command of starting Logto: `docker-compose up`

### Screenshots

<img width="1212" alt="1" src="https://user-images.gith

[2022-10-08 09:30] wangsijie commented on #2060
Thanks for the feedback, I am taking a look on that, this is a bug and will be fixed soon.

[2022-10-08 09:56] wangsijie commented on #2060
It is "base64 encoded" by mistake, and is now fixed in #2063

But the docker image will not be updated until our next release, for now, you can either use the `master` code to build your own image, or manually "base64 decode" the password shown in the dialog.

Let me know if you have further questions.

[2022-10-08 09:56] #2060 closed

[2022-10-08 17:22] Grumpypjs08 opened #2068 "Feature Request: Support for passkey"
biometric support using apples passkey

[2022-10-09 22:57] waveywaves opened #2082 "Uffizzi Preview Environments Progress"
TLDR: This issue will help track progress on Uffizzi preview environments for Logto.
Disclaimer: I work on Uffizzi
After discussions with @gao-sun and @charIeszhao to integrate Uffizzi for Logto, I have decided to create this issue which will help track progress with Pull Request Environments and track updates as they become available. This will help Uffizzi make preview environments better for Lo

[2022-10-10 10:26] bwcxyk opened #2097 "docker run error"
1、Error while initializing app Error: The OIDC cookie keys are not found. Please check the value of env `OIDC_COOKIE_KEYS`.
![image](https://user-images.githubusercontent.com/28802427/194845997-9e560368-6055-48cc-adb9-8311fa450094.png)

[2022-10-10 13:21] #1860 closed

[2022-10-10 15:53] #1852 closed

[2022-10-10 16:12] lukashass opened #2103 "bug: Gitpod environment missing env variable"
### Describe the bug

When launching Logto in Gitpod the startup fails:

[code]

### Expected behavior

Startup without error.

### How to reproduce?

Open Gitpod.

### Context

Gitpod

[2022-10-10 16:29] gao-sun commented on #2103
@lukashass really appreciate this. besides the fix #2104, we'd like to do two things if possible:

- add gitpod prebuild/preinstall
- add gitpod checking for PRs/master branch
- using `prerelease` image instead of the latest code for public preview

[2022-10-10 17:20] #2103 closed

[2022-10-10 17:20] #2097 closed

[2022-10-10 17:22] gao-sun commented on #2068
Would you like to elaborate a little bit? Feel free to contact us for reopening.

[2022-10-10 17:22] #2068 closed

[2022-10-11 02:36] huanlirui opened #2107 "How to grant admin permission to a user ？"
![image](https://user-images.githubusercontent.com/40491203/194984182-a515d696-1b60-446a-8b7d-f0959d391aed.png)

[2022-10-11 02:40] huanlirui commented on #2107
i want to use API Resource but i dont have permistion
![image](https://user-images.githubusercontent.com/40491203/194984666-6b71608c-a472-435a-9432-8544baa6dcf0.png)

[2022-10-11 03:34] huanlirui commented on #2107
if i switch to admin user
![image](https://user-images.githubusercontent.com/40491203/194990458-bfcd591f-1858-4771-b0d1-54f9abd6817e.png)

i can get users list  ,But the administrator can only have one? ?

[2022-10-11 03:36] huanlirui commented on #2107
![image](https://user-images.githubusercontent.com/40491203/194991328-d10c638f-175d-44eb-970b-aad810e04a01.png)
I want to know that other users have two roles, and how to generate this role? Like magic, I didn't find any documents or instructions

[2022-10-11 03:42] charIeszhao commented on #2107
This seems to be more like a "Discussion" instead of an "Issue".

Please be noted that we DO have a template to fill in before you open up any issue in Logto. Thus I'm going to close this ticket and feel free to create a discussion thread instead.

Thanks

[2022-10-11 03:42] #2107 closed

[2022-10-11 07:08] #1853 closed

[2022-10-14 03:26] Huskehhh commented on #1837
Have been able to get it to work with the following Dockerfile, although not on Alpine.

[code]

[2022-10-15 14:27] gao-sun opened #2167 "feature request: search user by IDs/usernames/phones/emails"
### What problem did you meet?

`/api/users?search=` only supports fuzzy search on multiple fields. Sometimes life needs to be more accurate, e.g., search a user by a specific ID, or a batch of usernames, etc.

### Describe what you'd like Logto to have

Support something like `/api/users?search=id:1,2,3&mode=exact` to return the exact search result on a specific field.

This issue includes:

- Se

[2022-10-15 16:19] gao-sun commented on #1607
quick update: thanks to @Olyno we're going to launch a cross-platform CLI soon. but I cloud not figure out the permission issue that happened in GitHub Actions Windows, you can see this [workflow runs](https://github.com/logto-io/logto/actions/workflows/integration-test.yml?page=1) down from #4640 - fought with Windows for a day but no luck.

I decided to move on as I'm a noob to Windows stuff mea

[2022-10-16 16:05] akoenig commented on #1842
@flobaader, just want to add my research results here. When connecting to a database with SSL you have to tell the Node.js runtime to "trust" the self-signed certificate which comes (in your case) from Digital Ocean:

[code]

Had a similar issue today and want to share my experience 🙂 You can read more about this environment variable [here](https://nodejs.org/api/cli.html#node_extra_ca_certsfile).

[2022-10-16 16:51] gao-sun commented on #1870
@pemassi @simeng-li can this be considered as resolved since we added a dedicated spring book tutorial? feel free to let me know your thoughts.

[2022-10-18 02:40] codehz opened #2179 "bug: set USER_DEFAULT_ROLE_NAMES will make admin console unusable"
### Describe the bug

I'm trying follow this [tutorial](https://silverhand.notion.site/Logto-x-Hasura-How-to-use-open-source-auth-GraphQL-solution-to-boost-your-project-0badddb711624a9fb814a5ca83f8b701) to connect logto with hasura, but after adding the environment variable 'USER_DEFAULT_ROLE_NAMES=user', I cannot use admin console anymore (even after drop database and start over again).

### Expe

[2022-10-18 02:41] gao-sun commented on #2179
Thanks for reporting. Will take a look soon.

[2022-10-18 04:24] gao-sun commented on #2179
i cannot reproduce locally. either an existing Logto instance or a new one.

the `USER_DEFAULT_ROLE_NAMES` only affect adding new users, so:

1. did you use a non-admin account to sign in to the console? you can check the `users` table -> `role_names` column
2. if you are using the admin account, would you like to provide a step-by-step list to reproduce?

[2022-10-18 05:08] codehz commented on #2179
I have only created a user (since no application have been created yet), that must be admin, right?

btw, after clear browser data and everything workin, so I cannot repro either

the step:
1. start a empty instance with empty database (no default role env)
2. register the first user
3. set application key for hasura
4. change the env and restart server
5. refresh browser, and got 401 in every pag

[2022-10-18 05:24] charIeszhao commented on #1842
Thanks, @akoenig. I saw the discussion from you and Gao on Discord yesterday. This looks promising and we will document it on our docs site if that also works for @flobaader

[2022-10-18 15:14] gao-sun commented on #2179
that's really strange. I think i might be some cache issue, we met it today too (most likely related to the signing key). feel free to let us know if it happens again.

[2022-10-19 04:31] codehz opened #2195 "bug: got 400 when setting Redirect URIs"
### Describe the bug

Cannot set redirect uri for ANY application, even with newly created (so there no valid redirect uri)

### Expected behavior

it should works

### How to reproduce?

just click create application or select existing application and change redirect uri

### Context

OS:

Environment: docker

Logto version: v1.0.0-beta.10

Node version: 14

Postgres version: 14

Command of start

[2022-10-19 08:17] codehz commented on #2195
Caused by cdn doesn't support PATCH request, works after replace cdn product

[2022-10-19 10:30] gao-sun opened #2206 "feature request: support options in `@logto/create`"
### What problem did you meet?

Now `npm init @logto` doesn't support options like `-p`, only `npx @logto/cli` supports.

### Describe what you'd like Logto to have

- Support options in `@logto/create`, thus we can use commands like:

`npm init @logto -- -p ./logto --db-url postgresql://your-postgres-dsn:5432/logto --oc`

- Update English docs accordingly

[2022-10-20 02:17] #1906 closed

[2022-10-20 15:11] baderdean commented on #1797
Hello,

is there some updates to this feature request? Supabase uses Gotrue yet the IAM part is very basic. I rather prefer a proper solution like Logto for a better user experience.

[2022-10-24 08:55] renyijiu commented on #1861
**Search user by IDs/usernames/phones/emails** This link is wrong https://github.com/logto-io/logto/issues/2167

[2022-10-24 10:59] RutsuKun commented on #2167
maybe better something like:

/api/users?**search[id]=1**&**search[id]=2**&**search[id]=3**&**search[username]=Test**

then if I'm not mistaken, will be able to automatically convert this to an array of ids usernames.

what do you think?

[2022-10-24 17:13] gao-sun commented on #2167
looks great! i have no concern if it this works.

[2022-10-25 10:39] winrey opened #2253 "feature request: Support Multiple Oauth2.0 Providers for the SAME kind"
### What problem did you meet?
* User Story 1: I have multiple Apps with different Github Login Apps. But I cannot blind the second one cuz it only supports binding a single app provider/connector.
* User Story 2: I have two Wechat Web Apps(one for MiniApp(小程序) and another one for Subscribing Media(公众号)) or two Native Apps which need support to bind on a same application.

### Describe what you'd

[2022-10-25 11:39] gao-sun commented on #2253
Great issue. We are just working on it!
@wangsijie @darcyYe please check this.

[2022-10-25 12:27] darcyYe commented on #2253
Hi @winrey, thanks for letting us know your use case! Your cases are pretty advanced as these are general cases for enterprise users. I have thought about whether Logto can make a connector with multiple configurations, but seems that would bring difficulties and confusion when interacting with end-users.
At this stage, the standard way of fitting your case is to start multiple Logto instances (e.

[2022-10-26 02:40] wangsijie commented on #2253
@winrey We don't support that, but there is an easy workaround for you: duplictate a connector and change the "target" and "id". You can either start from [source code](https://github.com/logto-io/connectors) or change the output js code directly. Let's take WeChat as an example:

<img width="295" alt="image" src="https://user-images.githubusercontent.com/5717882/197921105-da5f2a13-7773-43bd-8cbe-

[2022-10-26 02:43] wangsijie commented on #2253
And as for user story2, WeChat has "union id", is that fit your demand?

[2022-10-26 02:47] wangsijie commented on #2253
And can you share more details to help us understand your case?

[2022-10-26 02:56] darcyYe commented on #2253
You can also join our [Discord server](https://discord.gg/Q4Xfggcs) for timely responses.

[2022-10-26 14:24] winrey commented on #2253
Thanks for your replies guys.
Frankly speaking, I REALLY LOVE Logto so I wanna help it better :)
And I understand your efforts to keep Logto simple.

Do you guys notice that there is another login type(MP login: https://mp.weixin.qq.com/) that is totally different from the open platform(https://open.weixin.qq.com/)?

The MP login is used for login by WeChat explorer in WeChat. It's the way to log

[2022-10-27 02:36] charIeszhao commented on #1829
Closing the issue due to inactivity. Let me know if you want to reopen this one. Thank you.

[2022-10-27 02:36] #1829 closed

[2022-10-27 02:40] charIeszhao commented on #2082
Hi @waveywaves, any updates on this one?

[2022-10-27 02:42] charIeszhao commented on #1751
I'm self-assigning this issue and planning to release in Q4.

[2022-10-27 03:49] wangsijie commented on #2253
Good call! Currently we support 3 platforms: web, mobile web, mobile native app. Supporting for WeChat-family platforms which you mentioned is in our roadmap, but its priority is not high since we are focusing on other features. I have some experience in developing with WeChat ecosystem, so I do agree that it is really important for Chinese Enterprises. Our team will take a meeting to discuss abou

[2022-10-27 11:46] pemassi commented on #1870
@gao-sun LGTM!

[2022-10-27 11:46] #1870 closed

[2022-10-27 12:50] Monikaa1909 opened #2270 "feature request: Support wildcards in redirect URIs"
### What problem did you meet?
I am developing my application using gitpod.io and the application's url changes with every new workspace. Hence I do not know the exact redirect URI. I do not want to change it every time.

I've already tried using wildcards like `https://*.gitpod.io`, though I always got `redirect_uri did not match any of the client's registered redirect_uris` error message

### De

[2022-10-28 02:14] simeng-li commented on #2270
Hi, Monika thanks for using Logto.

First of all, redirect URIs are used not only just for post-sign-in or post-sign-out redirection purposes but also play an important security role in OAuth2.0 to prevent phishing attacks.  Wildcard redirect URIs are a violation of the [OAuth2 spec.](https://www.rfc-editor.org/rfc/rfc6749#section-3.1.2) .

`The redirection endpoint URI MUST be an absolute URI`

B

[2022-10-28 11:50] wvffle commented on #2270
@simeng-li: Thanks for the awesome work on Logto!

Chaninging the URIs manually with every new PR will result in a lot of maintenance. In our team, we want the developers to focus on their work rather than configuring services we use.

If wildcards are a violation of 0Auth2 spec, maybe the CLI could have a command to manage the URIs? That way only admins who have the access to the machine could up

[2022-10-28 14:36] gao-sun commented on #1797
@baderdean yes! we're looking at it. we are new to supabase and its integration process takes more time than we expected. will keep you posted.

[2022-10-28 14:37] gao-sun commented on #1607
guys, i'm wondering with the new CLI can Logto properly download and work in Windows?

[2022-10-28 14:58] Olyno commented on #1607
As the code is a JS code or a ``.exe`` executable, then yes it will work correctly on Windows.

[2022-10-28 15:04] charIeszhao commented on #1607
Guys, I just tried `npm init @logto` on windows, but I ended up only creating a `package.json` file...

[2022-10-28 17:28] Olyno commented on #1607
It actually makes sense. The ``npm init`` command (or ``yarn create`` or ``pnpm create`` depending on the package manager) works only if the ``name`` of the package starts with ``create-``.

For example, ``create-logto`` will make the package compatible with the command, but having a package named ``@logto`` will not work, because this one doesn't start with the ``create-`` prefix.

[2022-10-29 04:05] charIeszhao commented on #1607
Yes, but the same command `npm init @logto` works on macOS and Linux... So are you suggesting that we should rename the package name to `create-logto`?

[2022-10-29 13:44] Olyno commented on #1607
From what I see, it is mostly a bug on Mac and Linux. The package managers should not find the package in question according to their description:
 - https://docs.npmjs.com/cli/v8/commands/npm-init
 - https://classic.yarnpkg.com/lang/en/docs/cli/create/

With Yarn and Npm, they specify in their docs that the package name must start with the prefix "create-".

What I would suggest on my side is to

[2022-10-29 15:32] charIeszhao commented on #1607
Thanks, @Olyno. That makes sense to me.
@gao-sun Any thoughts?

[2022-10-29 15:35] charIeszhao commented on #1607
lol, again?? Let me check it real quick...

[2022-10-29 15:38] gao-sun commented on #1607
The "@" is for scoped package which follows another convention "@org/create".

Actually I registered "create-logto" but didn't published anything yet (just a package.json). Since I'd like to publish it automatically instead of manually creating another package with the same content of "@logto/create".

[2022-10-29 15:56] Olyno commented on #1607
Nevermind. As Gao said, it is possible to use the organization as a prefix for the "npm init" command. However, this would make the package exclusive to npm, and other package managers would be excluded (Yarn, Pnpm, Deno and potentially Bun).

Even if I understand that creating a package with another name is annoying, this seems to me to be the best thing to do (and therefore deprecated "@logto/cr

[2022-10-30 08:05] gao-sun commented on #1797
After some investigation, before Logto has a "custom token signing" feature, I think it's pretty close to the Auth0 integration:

- https://supabase.com/docs/guides/integrations/auth0
- https://auth0.com/blog/using-nextjs-and-auth0-with-supabase/

Since:

- For now Logto cannot be used as a third-party identity provider
- For the first-party integration, you also need to manually sign the JWT afte

[2022-10-31 09:06] wangsijie commented on #1797
Replace the Auth0 part with Logto will work! But I am not sure whether this can solve your problem. @About7Deaths
In this way, Logto will take place the whole built-in authentication provided by Supabase, as for authorization, some fetures like "Row Level Security" will still be available, but the other parts like "Managing User Data" may not work.

[2022-10-31 10:49] simeng-li commented on #2270
Hey, @wvffle  Had some discussions with the team.  One quick solution, following your insights.

1. Create a [M2M](https://docs.logto.io/docs/recipes/integrate-logto/machine-to-machine) app for authorization use through admin console. You will get a consistent M2M client credential.  (be careful with that)

2. Write a gitpod deployment job.
 - Use that M2M client credential to retrieve an access t

[2022-10-31 11:20] lukashass opened #2286 "bug: Gitpod: Error while initializing app Error: Database name is required in `DB_URL`"
### Describe the bug

When launching Logto in Gitpod the startup fails:

[code]

and:

[code]

### Expected behavior

Startup without error.

### How to reproduce?

Open Gitpod.

### Context

Gitpod

[2022-10-31 12:32] #2286 closed

[2022-11-01 11:51] 5war00p commented on #1858
PR: https://github.com/logto-io/logto/pull/2293

[2022-11-01 12:00] 5war00p commented on #2167
Even though the URL length doesn't matter, I still feel like keeping it like this is simpler and still readable,
/users?ids=[1,2,3]&usernames=[a,b,c]&mode=exact

this makes maintaining code easier by directly doing JSON.parser from the URL params and passing it to the API.

[2022-11-01 12:12] 5war00p commented on #2167
And also if it's not assigned to anyone I can take this up.

[2022-11-02 16:46] KaviiSuri commented on #2206
Hey, I'd like to pick this issue up, is it still available?

[2022-11-03 09:25] gao-sun commented on #2206
yes

[2022-11-03 09:28] gao-sun commented on #2167
@5war00p here you go. let's confirm the tech design before you code. one of our engineers will follow this issue

[2022-11-03 09:30] #1649 closed

[2022-11-03 09:32] gao-sun commented on #1607
thanks @Olyno, I'll take a look

[2022-11-03 15:29] gao-sun commented on #2167
@wangsijie will follow this issue.

[2022-11-04 02:43] wangsijie commented on #2167
As for "serch by ID", we can add a new route: `/api/users/:userId`

[2022-11-04 23:12] MyWay opened #2330 "feature request: open standard connectors"
### What problem did you meet?
Say I have an existing 3rd party auth system, I may want to connect it.

### Describe what you'd like Logto to have
If you could allow the setup of a generic OAuth 2, everybody could easily connect/integrate its own auth system.

### What we'll implement
TBD

[2022-11-05 10:02] 5war00p commented on #2167
@wangsijie will this be good to go?

[2022-11-06 03:40] waveywaves commented on #2082
@charIeszhao The following week we should be getting you setup with the Initial PoC. The bug we had with the preview failing has been fixed last week.

[2022-11-06 10:02] gao-sun commented on #1607
@Olyno
- I think both `npm create @logto` and `pnpm create @logto` are working fine
- for yarn, it just [hard-code the command](https://github.com/yarnpkg/yarn/blob/158d96dce95313d9a00218302631cd263877d164/src/cli/commands/create.js#L61) to run (you can dive to `coerceCreatePackageName()` if interested), and it will always be `create` for `yarn create @logto`. thus there's no way to use it. but ya

[2022-11-06 10:03] gao-sun commented on #2330
it's on the way!

[2022-11-06 10:22] wangsijie commented on #2167
@5war00p sorry for the late reply.

I prefer @RutsuKun's idea which can take advantage of the common HTML standard. But some changes are needed, I tried:

`/api/users?id=1&id=2&id=3&username=foo`

and the `ctx.query` would be this without any additional parser:

[code]

What do you think about this? I was worried that the JSON way may not be popular and is a bit heavy because we only need an array

[2022-11-06 10:33] 5war00p commented on #2167
Yes, this also makes sense, by using `.getAll` with the same key will give an array. No need to do any additional effort like JSON.parse and wrapping it under a try-catch block.

<img width="637" alt="image" src="https://user-images.githubusercontent.com/57614947/200165740-7ad46336-36a7-430d-8cd1-4bd01068bd9e.png">

But the only thing is URL will have more redundancy, while sharing URL it looks mo

[2022-11-06 11:50] wangsijie commented on #2167
The "redundancy" is OK? Only when the array have a large length. And even for that case, it will still work.

[2022-11-06 12:17] 5war00p commented on #2167
Cool, then we can make in that way. How the UX will be for this? means how users will give mutliple ids or usernames, will it be space separated?

[2022-11-06 12:39] wangsijie commented on #2167
Let's start with the API part.

As for the UI, @fleuraly will take a look and post updates here.

[2022-11-06 14:15] MyWay opened #2339 "feature request: webhooks events"
### What problem did you meet?
Let's say we want to connect multiple systems, e.g. Log an event when a new user is added, or execute a remote job when an email was sent.

Edit: that could also handle cases such as #1795

### Describe what you'd like Logto to have
I would like to have a list of multiple events available in logto which I can use to create a new webhook action to post payload to a re

[2022-11-06 15:59] Olyno commented on #1607
The main problem is that the CLI does not work on Window. Creating a package under the organization (``@logto/create``) does not seem to fix this problem, quite the opposite.

I understand your concern about creating a package that doesn't contain the organization in the name, but I still think that this is the best way to fix the problem on Window, and make the package compatible under any manage

[2022-11-07 03:22] gao-sun commented on #2339
yes! it's already on our roadmap and we'll start to implement this quarter

[2022-11-07 21:54] flobaader commented on #1842
@charIeszhao Sorry for the long waiting time - I can confirm that the managed DB is now working with the  `NODE_EXTRA_CA_CERTS` option.

[2022-11-07 23:42] charIeszhao commented on #1842
Great! Thank you for the update. 👍
I'm closing this issue as resolved.

[2022-11-07 23:42] #1842 closed

[2022-11-08 07:20] wangsijie commented on #2253
We are working on that!

[2022-11-08 08:47] anbraten commented on #2270
Couldn't you "simply" add a logto deployment to each gitpod workspace. This is how we do it.

[2022-11-08 16:24] Robotxm opened #2355 "feature request: Connector for WeCom"
### What problem did you meet?
Logto is missing connector that allows user to login with WeCom (Wechat Enterprise, or '企业微信'). Our team plans to use WeCom to manage members, and wants to use Logto for the SSO.

### Describe what you'd like Logto to have
Add a connector for WeCom.

[2022-11-09 10:05] gao-sun commented on #2355
@Robotxm would you like to have a chat with us to let us know better about your case? you can leave your contact info here or send an email to contact@logto.io. thanks!

[2022-11-15 07:38] shashimalcse opened #2444 "bug:"
### Describe the bug
when I try to setup the dev environment, `pnpm cli db seed` command gives me

[code]

logs:

[code]

[2022-11-15 07:46] gao-sun commented on #2444
Did you run `pnpm i` and `pnpm prepack`?

- It's hard to move forward until you provide the full context in the template
- Please follow the [Contributing guideline](https://github.com/logto-io/logto/blob/master/.github/CONTRIBUTING.md) for setting up a dev environment

[2022-11-15 07:46] #2444 closed

[2022-11-15 14:07] ihsanguldur commented on #2167
hello, is this issue in development phase? @wangsijie

[2022-11-16 03:10] wangsijie commented on #2167
@5war00p is working on this, could you post some updates?

[2022-11-16 03:15] saiswaroopmaddi commented on #2167
Yeah, I've started it.

But I got stuck with DB issues after updating my pnpm version.

I have to fix that and move forward.

[2022-11-16 04:57] 5war00p commented on #2167
Yeah, I've started it.

But I got stuck with DB issues after updating my pnpm version.

I have to fix that and move forward.

[2022-11-23 14:00] gao-sun commented on #1607
@Olyno thanks for the feedback and sorry for the delayed response. since i don't have a Windows dev environment, @charIeszhao would you like to have a try on this?

[2022-11-25 02:07] #2270 closed

[2022-11-28 09:18] vavido opened #2545 "bug: User email missing in response from oidc/me"
### Describe the bug
The React SDK for Logto provides a function `fetchUserInfo()` that returns `Promise<UserInfoResponse | undefined>`.
Among some other things, `UserInfoResponse` contains an optional field `email`.
However, even for a user that has a primary email set & showing up in the admin console, the field is not set in the API response:

### Expected behavior
When the email is set in Logt

[2022-11-28 14:06] gao-sun commented on #2545
thanks for reporting, will take a look soon

[2022-11-28 14:47] vavido commented on #2545
That solved the problem, thank you!

[2022-11-28 14:47] #2545 closed

[2022-11-29 17:02] gao-sun opened #2555 "bug: part of users are being blocked on the verification page"
Dear Logto folks,

🚨 We can confirm a bug in the Sign-in Experience that blocks users to finish their sign-in with the following criteria: (since and including `v1.0.0-beta.14`)

- Sign-up identifier set to "Email address" or "Phone number" or "Email address or phone number".
- Meet at least one of the two conditions:
  - The user has only username and password in their identity data (Happens when